Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

Path conditions:
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md

ci: fix the rsync-issue in dockerfile
  Dockerfile
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

refactor(components): install and init the latest storybook
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/.babelrc.json
  packages/components/.eslintrc.js
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/package.json
  packages/components/src/_stories/Introduction.stories.mdx
  packages/components/src/components/checkbox/Checkbox.stories.tsx
  packages/components/src/components/dateRangePicker/DateRangePicker.stories.tsx
  packages/components/src/components/dateSelector/DateSelector.stories.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/layout/Container.stories.tsx
  packages/components/src/components/spinner/LoadingSpinner.stories.tsx
  packages/components/src/components/topProgressBar/TopProgressBar.stories.tsx
  packages/components/src/components/topProgressBar/TopProgressBar.tsx
  packages/components/src/components/topProgressBar/index.ts
  packages/components/src/components/topProgressBar/types.ts
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

ci: update the docker image to node 20
  Dockerfile
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

fix: the loggers optional parameters usage
  packages/components/src/loggers/logger.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

chore: remove the accidentally created env.local -file
  apps/sports-helsinki/env.local
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

docs: add a note where the on-demand page revalidation keys can be found
  README.md
Due: none

fix: multiple exports with the same name
  packages/components/src/components/event/eventCard/EventCard.tsx
  packages/components/src/components/event/eventDetailsCard/EventDetails.tsx
  packages/components/src/components/event/eventDetailsCard/eventDetails.module.scss
  packages/components/src/components/event/index.ts
  packages/components/src/types/types.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

fix: basic event card usage
  apps/events-helsinki/src/common-events/components/eventList/EventList.tsx
  apps/events-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/events-helsinki/src/domain/event/eventCard/__tests__/EventCard.test.tsx
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

docs: add api-docs to the appConfig getters
  README.md
  apps/events-helsinki/README.md
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/README.md
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/README.md
  apps/sports-helsinki/src/domain/app/AppConfig.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

fix: venue page metadata (#374)
  apps/sports-helsinki/src/domain/venue/VenuePageContainer.tsx
  apps/sports-helsinki/src/domain/venue/venuePageMeta/VenuePageMeta.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

feat: other hour object to venue info
  apps/sports-helsinki/src/domain/venue/venueInfo/VenueInfo.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

feat: other hour object to venue info (#380)
  apps/sports-helsinki/src/domain/venue/venueInfo/VenueInfo.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

refactor: error boundary usage
  apps/events-helsinki/src/pages/_app.tsx
  apps/hobbies-helsinki/src/pages/_app.tsx
  apps/sports-helsinki/src/pages/_app.tsx
  packages/components/src/app/BaseApp.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

chore: fix eslint cache folder configuration
  apps/sports-helsinki/package.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

refactor(error): update the apollo error notification translations
  packages/common-i18n/src/locales/en/errors.json
  packages/common-i18n/src/locales/fi/errors.json
  packages/common-i18n/src/locales/sv/errors.json
  packages/components/src/components/apolloErrorNotification/ApolloErrorNotification.tsx
  packages/components/src/components/apolloErrorNotification/__tests__/ApolloErrorNotification.test.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

ci(router): update the router docker image
  proxies/events-graphql-federation/Dockerfile
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

chore(router): add an example of traffic shapping config for test use
  proxies/events-graphql-federation/router.yaml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

refactor(error): remove the events federation apollo-client error handler
  apps/events-helsinki/src/domain/app/EventsApolloProvider.tsx
  apps/events-helsinki/src/domain/clients/eventsApolloClient.ts
  apps/hobbies-helsinki/src/domain/app/HobbiesApolloProvider.tsx
  apps/hobbies-helsinki/src/domain/clients/hobbiesApolloClient.ts
  apps/sports-helsinki/src/domain/app/SportsApolloProvider.tsx
  apps/sports-helsinki/src/domain/clients/sportsApolloClient.ts
  packages/components/src/apollo/EventsFederationApolloClient.ts
  packages/components/src/hooks/index.ts
  packages/components/src/hooks/useErrorBoundary.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

feat(error): show the Apollo errors in a generic notification window
  apps/events-helsinki/src/domain/app/EventsApolloProvider.tsx
  apps/events-helsinki/src/domain/clients/eventsApolloClient.ts
  apps/hobbies-helsinki/src/domain/app/HobbiesApolloProvider.tsx
  apps/hobbies-helsinki/src/domain/clients/hobbiesApolloClient.ts
  apps/sports-helsinki/src/domain/app/SportsApolloProvider.tsx
  apps/sports-helsinki/src/domain/clients/sportsApolloClient.ts
  packages/common-i18n/src/locales/en/errors.json
  packages/common-i18n/src/locales/fi/errors.json
  packages/common-i18n/src/locales/sv/errors.json
  packages/components/src/apollo/EventsFederationApolloClient.ts
  packages/components/src/app/BaseApp.tsx
  packages/components/src/components/apolloErrorNotification/ApolloErrorNotification.tsx
  packages/components/src/components/apolloErrorNotification/apolloErrorsReducer.tsx
  packages/components/src/components/index.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

refactor(error): remove the redirects from the error handling
  apps/events-helsinki/src/pages/500.tsx
  apps/events-helsinki/src/pages/_error.tsx
  apps/events-helsinki/src/pages/error.tsx
  apps/hobbies-helsinki/src/pages/500.tsx
  apps/hobbies-helsinki/src/pages/_error.tsx
  apps/hobbies-helsinki/src/pages/error.tsx
  apps/sports-helsinki/src/pages/500.tsx
  apps/sports-helsinki/src/pages/_error.tsx
  apps/sports-helsinki/src/pages/error.tsx
  packages/components/src/components/errorPages/ErrorPage.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

refactor(error): apollo errors should be thrown during a page generation
  apps/events-helsinki/src/domain/app/getEventsStaticProps.ts
  apps/events-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/domain/app/getHobbiesStaticProps.ts
  apps/sports-helsinki/src/domain/app/getSportsStaticProps.ts
  packages/components/src/components/errorPages/ErrorPage.tsx
  packages/components/src/constants/constants.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

test(error): apollo error handling with a notification and reducer
  apps/events-helsinki/.jest/setupTests.ts
  apps/events-helsinki/src/domain/app/EventsApolloProvider.tsx
  apps/events-helsinki/src/domain/app/__tests__/EventsApolloProvider.test.tsx
  apps/hobbies-helsinki/.jest/setupTests.ts
  apps/hobbies-helsinki/src/domain/app/HobbiesApolloProvider.tsx
  apps/hobbies-helsinki/src/domain/app/__tests__/HobbiesApolloProvider.test.tsx
  apps/sports-helsinki/.jest/setupTests.ts
  apps/sports-helsinki/src/domain/app/SportsApolloProvider.tsx
  apps/sports-helsinki/src/domain/app/__tests__/SportsApolloProvider.test.tsx
  packages/components/src/components/apolloErrorNotification/__tests__/ApolloErrorNotification.test.tsx
  packages/components/src/components/apolloErrorNotification/__tests__/apolloErrorsReducer.test.tsx
  packages/components/src/components/apolloErrorNotification/apolloErrorsReducer.tsx
  packages/components/src/components/index.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

refactor: remove the needless code of the event search page container
  apps/events-helsinki/src/domain/search/eventSearch/EventSearchPageContainer.tsx
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/EventSearchPageContainer.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/EventSearchPageContainer.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/EventSearchPageContainer.test.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

test: fix the linkedevents url in test setup
  apps/events-helsinki/.jest/setupTests.ts
  apps/hobbies-helsinki/.jest/setupTests.ts
  apps/sports-helsinki/.jest/setupTests.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

fix: favicon url for all the pages
  packages/components/src/hooks/useCommonCmsConfig.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

fix(error): 500 page translations and build issue in Hobbies app
  apps/events-helsinki/src/pages/500.tsx
  apps/hobbies-helsinki/src/pages/500.tsx
  apps/sports-helsinki/src/pages/500.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml
