Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

azure-pipelines-tapahtumat-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-release.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://tapahtumat-router.api.hel.fi/
        CMS_ORIGIN: https://tapahtumat.content.api.hel.fi
  ...

fix: Update perhehulinat campaing redirect
  apps/sports-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix: matomo fix
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
  packages/components/src/components/matomoWrapper/MatomoWrapper.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix: Update perhehulinat campaing redirect (#612)
  apps/sports-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix: matomo tracking
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
  packages/components/src/components/matomoWrapper/MatomoWrapper.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix: remove needless nprogress plugin
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/app/EventsApolloProvider.tsx
  apps/events-helsinki/src/pages/_app.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/domain/app/HobbiesApolloProvider.tsx
  apps/hobbies-helsinki/src/pages/_app.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/app/SportsApolloProvider.tsx
  apps/sports-helsinki/src/pages/_app.tsx
  packages/components/package.json
  packages/components/rollup.config.js
  packages/components/src/app/BaseApp.tsx
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix(sports): map search page prop passing
  apps/sports-helsinki/src/pages/search/map.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

feat: import all HDS styles as a link instead of styles block collecting
  apps/events-helsinki/src/pages/_app.tsx
  apps/events-helsinki/src/pages/_document.tsx
  apps/hobbies-helsinki/src/pages/_app.tsx
  apps/hobbies-helsinki/src/pages/_document.tsx
  apps/sports-helsinki/src/pages/_app.tsx
  apps/sports-helsinki/src/pages/_document.tsx
  packages/components/src/components/document/Document.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix: theme property for the search tabs
  apps/sports-helsinki/src/domain/search/combinedSearch/SearchUtilities.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/searchTabs/SearchTabs.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix: add critical-hds-styles to a new file imported in global styles
  apps/events-helsinki/src/pages/_app.tsx
  apps/events-helsinki/src/styles/critical-hds-styles.css
  apps/events-helsinki/src/styles/globals.scss
  apps/hobbies-helsinki/src/pages/_app.tsx
  apps/hobbies-helsinki/src/styles/critical-hds-styles.css
  apps/hobbies-helsinki/src/styles/globals.scss
  apps/sports-helsinki/src/pages/_app.tsx
  apps/sports-helsinki/src/styles/critical-hds-styles.css
  apps/sports-helsinki/src/styles/globals.scss
  packages/components/src/styles/critical-hds-styles.css
  packages/components/src/styles/globals.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

chore: dummy commit
  Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

chore: remove the accidentally configured local domain
  package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

refactor: links in the other info section
  packages/components/src/components/domain/event/eventInfo/EventInfo.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix(proxy): providerContactInfo field type should be a LocalizedObject
  proxies/events-graphql-proxy/src/schema/event/typeDefs.ts
  proxies/events-graphql-proxy/src/types/types.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml

feat(apps): replace the location phone and email from event info with provider contact info
  packages/components/src/components/domain/event/eventInfo/EventInfo.tsx
  packages/components/src/utils/eventUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

feat(apps): add localized providerContactInfo field to event details
  packages/components/src/components/domain/event/query.ts
  packages/components/src/types/generated/graphql.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix(router): providerContactInfo field type should be a LocalizedObject
  proxies/events-graphql-federation/subgraphs/events/events.graphql
  proxies/events-graphql-federation/supergraph.graphql
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml

fix(apps): do not show empty other info on event details
  packages/components/src/components/domain/event/eventInfo/EventInfo.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

refactor: improve event list component types usage
  apps/sports-helsinki/src/domain/search/eventSearch/hooks/useSearchPage.tsx
  packages/components/src/components/eventList/EventList.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

feat: remove the closed events from the search list
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/hooks/useSearchPage.tsx
  packages/components/src/hooks/index.ts
  packages/components/src/hooks/useClearClosedEventsFromApolloCache.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix: no specific style for event cards that has a date in the past
  packages/components/src/components/eventCard/EventCard.tsx
  packages/components/src/components/eventCard/LargeEventCard.tsx
  packages/components/src/components/eventCard/eventCard.module.scss
  packages/components/src/components/eventCard/largeEventCard.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

refactor: remove needless classnames usage
  packages/components/src/components/eventCard/EventCard.tsx
  packages/components/src/components/eventCard/LargeEventCard.tsx
  packages/components/src/hooks/useClearClosedEventsFromApolloCache.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

feat: create critical HDS styles CSS-file with a script
  apps/events-helsinki/createCriticalHdsStylesFile.js
  apps/events-helsinki/package.json
  apps/events-helsinki/src/styles/critical-hds-styles.css
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml

fix: article page layout ui tweaks
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  packages/components/src/components/errorPages/errorPage.module.scss
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

chore: fix the app and package related scripts of the root package.json
  package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
