Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-federation-router-dev.yml: any file but: *release-please*, *.md, .github, pipelines/federation-router-release.yml, pipelines/federation-router-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*

WIP type fixes
  packages/components/src/components/orderBySelect/EventsOrderBySelect.tsx
  packages/components/src/components/previewNotification/PreviewNotification.tsx
  packages/components/src/components/rangeDropdown/RangeDropdown.tsx
  packages/components/src/components/select/SearchSelect.tsx
  packages/components/src/components/select/Select.tsx
  packages/components/src/hooks/useSetSortQueryParamToOptionValue.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP import CookieBanner only on client
  packages/components/src/components/footer/Footer.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP move cookiebanenr to userTrackingFeatures
  packages/components/src/components/footer/Footer.tsx
  packages/components/src/components/widgets/UserTrackingFeatures.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP move dynamic imports
  packages/components/src/components/footer/Footer.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP fix hcrc by upgrading it
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP sports
  apps/sports-helsinki/src/common-events/components/category/categoryFilter.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP style: grey placeholder color to search input
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  packages/components/src/components/dateSelector/DateSelector.tsx
  packages/components/src/components/dateSelector/dateSelector.module.scss
  packages/components/src/components/multiSelectDropdown/multiSelectDropdown.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP fix(search): date picker
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP hobbies
  apps/hobbies-helsinki/src/common-events/components/category/categoryFilter.module.scss
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP chore: add certificates to gitignore
  apps/events-helsinki/.gitignore
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP refactor base app order
  packages/components/src/app/BaseApp.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP fix target age group selector
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/TargetAgeGroupSelector.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP replace custom category selector with HDS select
  apps/events-helsinki/src/common-events/components/category/categoryFilter.module.scss
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
  packages/components/src/components/multiSelectDropdown/multiSelectDropdown.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP chore: force hds-react v4.8.0
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP fix(types): type issues after rebasing to main
  packages/components/src/components/errorPages/ErrorPage.tsx
  packages/components/src/components/multiSelectDropdown/MultiSelectDropdown.tsx
  packages/components/src/components/shareLinks/FacebookShareLink.tsx
  packages/components/src/components/shareLinks/LinkedInShareLink.tsx
  packages/components/src/components/shareLinks/ShareLinks.tsx
  packages/components/src/components/shareLinks/TwitterShareLink.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP fix: landing page shortcuts icons and form input heights
  apps/events-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/landingPageSearch.module.scss
  apps/events-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
  packages/components/src/components/advancedSearch/advancedSearchInput.module.scss
  packages/components/src/components/advancedSearch/advancedSearchTextInput.module.scss
  packages/components/src/components/dateSelector/dateSelector.module.scss
  packages/components/src/components/rangeDropdown/rangeDropdown.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP fix: events order by select component
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  packages/components/src/components/orderBySelect/EventsOrderBySelect.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP refactor: deprecate custom MultiSelectDropdown
  packages/components/src/components/multiSelectDropdown/MultiSelectDropdown.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: date selector on Safari
  apps/events-helsinki/.gitignore
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(router): update unified-search subgraph & supergraph
  proxies/events-graphql-federation/subgraphs/unified-search/unified-search.graphql
  proxies/events-graphql-federation/supergraph.graphql
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP update critical hds styles
  scripts/create-critical-hds-styles-file.js
  static/assets/styles/critical-hds-styles.css
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP tests: fix tests after migration
  apps/events-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/events-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/__tests__/Search.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/__tests__/TargetAgeGroupSelector.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  apps/events-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
  apps/events-helsinki/vitest-setup.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP test: remove needless console messages from tests
  apps/hobbies-helsinki/vitest-setup.ts
  apps/sports-helsinki/vitest-setup.ts
  packages/components/vitest-setup.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP chore: upgrade hds-core and hds-design-tokens
  packages/components/package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

chore: upgrade hcrc
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

chore: fake indexeddb for vitest
  packages/components/package.json
  packages/components/vitest-setup.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP test: fix base app
  packages/components/src/app/__tests__/BaseApp.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(components): utils createLocaleDictBuilder
  packages/components/src/components/eventsCookieConsent/utils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test(components): migrate tests
  packages/components/src/components/dateRangePicker/__tests/DateRangePicker.test.tsx
  packages/components/src/components/dateSelector/__tests__/__snapshots__/DateSelectorMenu.test.tsx.snap
  packages/components/src/components/eventHero/__tests__/EventHero.test.tsx
  packages/components/src/components/eventKeywords/__tests__/EventKeywords.test.tsx
  packages/components/src/components/filterButton/__tests__/__snapshots__/FilterButton.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/AgeFilter.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/DateFilter.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/PlaceFilter.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/PublisherFilter.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/TextFilter.test.tsx.snap
  packages/components/src/components/keyword/__tests__/KeywordButton.test.tsx
  packages/components/src/components/keyword/__tests__/__snapshots__/KeywordButton.test.tsx.snap
  packages/components/src/components/select/SearchSelect.tsx
  packages/components/src/components/select/__tests__/SearchSelect.test.tsx
  packages/components/src/components/select/__tests__/__snapshots__/SearchSelect.test.tsx.snap
  packages/components/vitest-setup.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: useAskemContext
  packages/components/src/components/askem/__tests__/useAskemContext.test.tsx
  packages/components/src/components/askem/useAskemContext.tsx
  packages/components/src/components/eventsCookieConsent/constants.ts
  packages/components/src/components/eventsCookieConsent/useConsentSiteSettings.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test: migrate askemFeedbackContainer test
  packages/components/src/components/askem/__tests__/AskemFeedbackContainer.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(components): migrate event location
  packages/components/config/tests/mocks/cookieMocks.tsx
  packages/components/config/tests/mocks/index.ts
  packages/components/src/components/domain/event/eventLocation/EventLocation.tsx
  packages/components/src/components/domain/event/eventLocation/__tests__/EventLocation.test.tsx
  packages/components/src/components/mapBox/MapBox.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: typo
  packages/components/src/components/eventsCookieConsent/useConsentSiteSettings.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: show Culture and Leisure Division's venues first in relevance sort
  apps/sports-helsinki/config/vitest/mockDataUtils.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/VenueSearchAdapter.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/VenueSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  packages/components/src/components/domain/unifiedSearch/graphql/unifiedSearchList.query.ts
  packages/components/src/types/generated/graphql.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: user tracking features wrappers
  packages/components/src/app/BaseApp.tsx
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
  packages/components/src/components/matomo/useMatomo.tsx
  packages/components/src/components/matomoWrapper/MatomoWrapper.tsx
  packages/components/src/components/widgets/UserTrackingFeatures.tsx
  packages/components/src/cookieConfigurationProvider/CookieConfigurationContext.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(hobbies): migrate types to HDS v4
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/hobbies-helsinki/src/domain/venue/venueDetails/VenueDetails.tsx
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  packages/components/src/components/eventList/EventList.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: show Culture and Leisure Division's venues first in relevance sort
  apps/sports-helsinki/config/vitest/mockDataUtils.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/VenueSearchAdapter.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/VenueSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  packages/components/src/components/domain/unifiedSearch/graphql/unifiedSearchList.query.ts
  packages/components/src/types/generated/graphql.tsx
  proxies/events-graphql-federation/subgraphs/unified-search/unified-search.graphql
  proxies/events-graphql-federation/supergraph.graphql
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml
