Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-federation-router-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-test.yml@liikunta-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://liikunta.hkih.stage.geniem.io/graphql
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

azure-pipelines-tapahtumat-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-release.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://tapahtumat-router.api.hel.fi/
        CMS_ORIGIN: https://tapahtumat.content.api.hel.fi
  ...

azure-pipelines-tapahtumat-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-test.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-events.test.hel.ninja/
        CMS_ORIGIN: https://tapahtumat.hkih.stage.geniem.io
  ...

fix: remove extra trusted origins field
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  packages/components/src/hooks/useCommonCmsConfig.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: sanitizing social feed script (#728)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  packages/components/src/hooks/useCommonCmsConfig.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: test preview
  apps/sports-helsinki/src/pages/api/preview.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: test preview console warn
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: remove dog beaches from swimming ontology refs LIIKUNTA-675
  packages/components/src/components/domain/unifiedSearch/unifiedSearchConstants.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: test preview console warn
  apps/sports-helsinki/src/pages/api/preview.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: new preview implementation
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/src/pages/index.tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/previewNotification/PreviewNotification.tsx
  packages/components/src/hooks/usePreview.tsx
  packages/components/src/utils/jwtToken.ts
  packages/components/src/utils/resilientTranslation/getResilientTranslation.ts
  packages/components/src/utils/resilientTranslation/types.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: typecheck
  apps/events-helsinki/config/jest/index.test.tsx
  apps/hobbies-helsinki/config/jest/index.test.tsx
  apps/sports-helsinki/config/jest/index.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: preview feature improvements (#729)
  apps/events-helsinki/config/jest/index.test.tsx
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/config/jest/index.test.tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/config/jest/index.test.tsx
  apps/sports-helsinki/src/pages/api/preview.ts
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/src/pages/index.tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/previewNotification/PreviewNotification.tsx
  packages/components/src/hooks/usePreview.tsx
  packages/components/src/utils/jwtToken.ts
  packages/components/src/utils/resilientTranslation/getResilientTranslation.ts
  packages/components/src/utils/resilientTranslation/types.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: similar events should not be shown if keywords list is filtered to empty
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/sports-helsinki/src/domain/event/EventPageContainer.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: similar events
  apps/events-helsinki/src/domain/event/EventPageContainer.tsx
  apps/events-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/event/EventPageContainer.tsx
  apps/hobbies-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/sports-helsinki/src/domain/event/EventPageContainer.tsx
  apps/sports-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/sports-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: similar events tests
  apps/events-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/hobbies-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/sports-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: similar events should not be shown if keywords list is empty (#731)
  apps/events-helsinki/src/domain/event/EventPageContainer.tsx
  apps/events-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/event/EventPageContainer.tsx
  apps/hobbies-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/sports-helsinki/src/domain/event/EventPageContainer.tsx
  apps/sports-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/sports-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: test preview no middleware
  apps/sports-helsinki/src/middleware_old.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(test): fix running tests, fix packages/common-* lint errors
  .github/workflows/ci-monorepo-integrity.yml
  .github/workflows/ci-packages.yml
  .github/workflows/ci-venue-graphql-proxy-check.yml
  packages/common-i18n/src/tests/initI18n.ts
  packages/common-tests/browser-tests/header/header.testcafe.utils.ts
  packages/common-tests/browser-tests/page-model/closedEventDetailsPage.ts
  packages/common-tests/browser-tests/page-model/consent-modal.ts
  packages/common-tests/browser-tests/page-model/eventDetailsPage.ts
  packages/common-tests/browser-tests/page-model/eventSearchPage.ts
  packages/common-tests/browser-tests/page-model/header.ts
  packages/common-tests/browser-tests/page-model/index.ts
  packages/common-tests/browser-tests/page-model/landingPage.ts
  packages/common-tests/browser-tests/roles/allCookiesUser.ts
  packages/components/src/components/domain/event/queryUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(sports): add dynamic CMS configured redirect using middleware
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  apps/sports-helsinki/redirectCampaignRoutes.config.js
  apps/sports-helsinki/src/edge-runtime-compatible/README.md
  apps/sports-helsinki/src/edge-runtime-compatible/__tests__/isObject.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/__tests__/isStringOrNull.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/__tests__/isValidRedirectAddress.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/__tests__/parseRedirects.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/constants.ts
  apps/sports-helsinki/src/edge-runtime-compatible/isValidRedirectAddress.ts
  apps/sports-helsinki/src/edge-runtime-compatible/parseRedirects.ts
  apps/sports-helsinki/src/edge-runtime-compatible/queryRedirects.ts
  apps/sports-helsinki/src/edge-runtime-compatible/redirectsCache.ts
  apps/sports-helsinki/src/edge-runtime-compatible/stripLocale.ts
  apps/sports-helsinki/src/edge-runtime-compatible/typeguards.ts
  apps/sports-helsinki/src/edge-runtime-compatible/types.ts
  apps/sports-helsinki/src/middleware.ts
  packages/components/package.json
  packages/components/src/components/domain/event/queryUtils.ts
  packages/components/src/types/generated/graphql.tsx
  packages/components/src/types/types.ts
  packages/components/src/utils/headless-cms/service.tsx
  packages/graphql-proxy-server/package.json
  proxies/venue-graphql-proxy/src/schema/paginationSchema.ts
  proxies/venue-graphql-proxy/src/types/types.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: ssr for head tags in articles
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: date selector styles
  packages/components/src/components/dateSelector/dateSelector.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: date selector styles (#738)
  packages/components/src/components/dateSelector/dateSelector.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: ssr for head tags in articles (#737)
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: remove division related bad and dead code
  apps/events-helsinki/src/common-events/hooks/useDivisionOptions.tsx
  apps/events-helsinki/src/domain/search/eventSearch/AdvancedSearch.tsx
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/Search.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/events-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/events-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  apps/events-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/types.ts
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/config/jest/mockDataUtils.ts
  apps/hobbies-helsinki/src/common-events/hooks/useDivisionOptions.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/AdvancedSearch.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/Search.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/types.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/common-events/hooks/useDivisionOptions.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/sports-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

ci: fiz size limits
  apps/events-helsinki/.size-limit.js
  apps/hobbies-helsinki/.size-limit.js
  apps/sports-helsinki/.size-limit.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

ci: fiz size limits
  apps/events-helsinki/.size-limit.js
  apps/sports-helsinki/.size-limit.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: type issue in queryRedirects
  apps/sports-helsinki/src/edge-runtime-compatible/queryRedirects.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: redirect /vertaisohjatut
  apps/sports-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: card height in carousel
  apps/events-helsinki/package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: card height in carousel
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: load more button styles configs
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/venueList/VenueList.tsx
  apps/sports-helsinki/src/domain/search/venueList/venueList.module.scss
  apps/sports-helsinki/src/hooks/useSportsRHHCConfig.tsx
  packages/components/package.json
  packages/components/src/components/eventList/EventList.tsx
  packages/components/src/components/eventList/eventList.module.scss
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: card height and load more button (#744)
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/venueList/VenueList.tsx
  apps/sports-helsinki/src/domain/search/venueList/venueList.module.scss
  apps/sports-helsinki/src/hooks/useSportsRHHCConfig.tsx
  packages/components/package.json
  packages/components/src/components/eventList/EventList.tsx
  packages/components/src/components/eventList/eventList.module.scss
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: cards fix
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: askem dynamic loading fix
  packages/components/src/components/footer/Footer.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/widgets/WidgetsContainer.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: askem component naming
  packages/components/src/components/footer/Footer.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/widgets/UserTrackingFeatures.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
