Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-federation-router-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-test.yml@liikunta-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://liikunta.hkih.stage.geniem.io/graphql
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

azure-pipelines-tapahtumat-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-release.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://tapahtumat-router.api.hel.fi/
        CMS_ORIGIN: https://tapahtumat.content.api.hel.fi
  ...

azure-pipelines-tapahtumat-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-test.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-events.test.hel.ninja/
        CMS_ORIGIN: https://tapahtumat.hkih.stage.geniem.io
  ...

pipelines/liikunta-ui-dev.yml:
  pool: Default
  extends:
    template: components/liikunta-ui/pipelines/liikunta-ui-dev.yml@liikunta-pipelines

pipelines/tapahtumat-federation-router-dev.yml:
  pool: Default
  extends:
    template: components/federation-router/pipelines/federation-router-dev.yml@tapahtumat-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://tapahtumat.app-staging.hkih.hion.dev/graphql
  ...

fix: update readme and yml TH-1463
  .github/workflows/release-please.yml
  README.md
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: update readme TH-1463
  README.md
Due: none

fix: add newline
  .github/workflows/release-please.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: release please TH-1463 (#991)
  .github/workflows/release-please.yml
  README.md
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: filter courses
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: linter issues
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: unit test
  apps/hobbies-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: manual run and changelog
  .github/workflows/release-please.yml
  release-please-config.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: filter secondary school courses HH-460 (#993)
  apps/hobbies-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: hel base sonar-project.properties Refs: KEH-189
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
  packages/components/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: remove spect pattern Refs: KEH-189
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
  packages/components/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: remove .spect pattern Refs: KEH-189
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
  packages/components/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: remove test patterns Refs: KEH-189
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
  packages/components/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: remove unnecessary patterns Refs: KEH-189
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
  packages/components/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: remove __tests__ pattern Refs: KEH-189
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
  packages/components/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style: format release-please config with consistent spacing
  release-please-config.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: add explicit package-name for all release-please packages
  release-please-config.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: add fullTextLanguage parameter to proxies
  proxies/events-graphql-federation/subgraphs/events/events.graphql
  proxies/events-graphql-federation/supergraph.graphql
  proxies/events-graphql-proxy/src/schema/event/typeDefs.ts
  proxies/events-graphql-proxy/src/schema/event/utils.ts
  proxies/events-graphql-proxy/src/types/__generated__.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: use fullTextLanguage parameter to search events in all UI language
  apps/events-helsinki/README.md
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/README.md
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/README.md
  apps/sports-helsinki/src/domain/search/combinedSearch/__tests__/SearchUtilities.test.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/EventSearchAdapter.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/EventSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/__snapshots__/CombinedSearchProvider.test.tsx.snap
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
  packages/components/src/components/domain/eventSearch/query.ts
  packages/components/src/constants/event-constants.ts
  packages/components/src/types/generated/graphql.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: update include parameters in to include registration
  apps/sports-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: remove dead coverage patterns: Refs: KEH-189
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
  packages/components/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: proxies edit sonar-project.properties Refs: KEH-189
  proxies/events-graphql-proxy/sonar-project.properties
  proxies/venue-graphql-proxy/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: sonar exclusions remove pagebreak Refs: KEH-189
  proxies/events-graphql-proxy/sonar-project.properties
  proxies/venue-graphql-proxy/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(hobbies-helsinki): remove hardcoded campaign short URL redirects
  apps/hobbies-helsinki/redirectCampaignRoutes.config.mjs
  apps/hobbies-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-federation-router-dev.yml: any file but: *release-please*, *.md, .github, pipelines/federation-router-release.yml, pipelines/federation-router-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*
