Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-federation-router-dev.yml: any file but: *release-please*, *.md, .github, pipelines/federation-router-release.yml, pipelines/federation-router-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*

feat(hobbies): sort category options by a predefined list
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: rename "theatre" category to "theatre and circus"
  packages/common-i18n/src/locales/en/home.json
  packages/common-i18n/src/locales/fi/home.json
  packages/common-i18n/src/locales/sv/home.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(hobbies): remove languages, culture and art from categories
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(hobbies): add animals and camps categories
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  packages/common-i18n/src/locales/en/home.json
  packages/common-i18n/src/locales/fi/home.json
  packages/common-i18n/src/locales/sv/home.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(hobbies): add more category keywords
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: typo in "visa allt"
  packages/common-i18n/src/locales/sv/common.json
  packages/common-i18n/src/locales/sv/event.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: update upcoming events title to include also hobbies
  packages/common-i18n/src/locales/en/venue.json
  packages/common-i18n/src/locales/fi/venue.json
  packages/common-i18n/src/locales/sv/venue.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(sports): show all events of place / location
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/EventSearchAdapter.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: add more detailed comments to visibleOptions of Select
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/SearchForm.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/searchTabs/SearchTabs.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: deprecate custom MultiSelectDropdown
  packages/components/src/components/multiSelectDropdown/MultiSelectDropdown.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: add comments to hidden console messages in vitest config
  apps/events-helsinki/vitest-setup.ts
  apps/hobbies-helsinki/vitest-setup.ts
  apps/sports-helsinki/vitest-setup.ts
  packages/components/vitest-setup.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(sports): replace multiselect filters with HDS selects
  apps/sports-helsinki/src/domain/search/combinedSearch/SearchForm.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/hooks/useFormValues.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/search.module.scss
  apps/sports-helsinki/src/domain/search/combinedSearch/searchTabs/SearchTabs.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/searchTabs/searchTabs.module.scss
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/unifiedSearchOrderBySelect.module.scss
  packages/components/src/components/index.ts
  packages/components/src/components/orderBySelect/eventsOrderBySelect.module.scss
  packages/components/src/components/select/SearchSelect.tsx
  packages/components/src/components/select/__tests__/SearchSelect.test.tsx
  packages/components/src/components/select/__tests__/__snapshots__/SearchSelect.test.tsx.snap
  packages/components/src/components/select/searchSelect.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: removed unnecessary defaultProps ignoring from vitest setup
  apps/events-helsinki/vitest-setup.ts
  apps/hobbies-helsinki/vitest-setup.ts
  apps/sports-helsinki/vitest-setup.ts
  packages/components/vitest-setup.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: remove unnecessary commented out code of menu scrollbars
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: move category filter to shared components package
  apps/events-helsinki/src/common-events/components/category/__tests__/CategoryFilter.test.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
  apps/hobbies-helsinki/src/common-events/components/category/CategoryFilter.tsx
  apps/hobbies-helsinki/src/common-events/components/category/__tests__/CategoryFilter.test.tsx
  apps/hobbies-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/hobbies-helsinki/src/common-events/components/category/categoryFilter.module.scss
  apps/hobbies-helsinki/src/domain/search/landingPage/landingPage.module.scss
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
  apps/sports-helsinki/src/common-events/components/category/CategoryFilter.tsx
  apps/sports-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/sports-helsinki/src/common-events/components/category/categoryFilter.module.scss
  apps/sports-helsinki/src/domain/search/landingPage/landingPage.module.scss
  apps/sports-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
  packages/components/src/components/category/CategoryFilter.tsx
  packages/components/src/components/category/__tests__/CategoryFilter.test.tsx
  packages/components/src/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  packages/components/src/components/category/categoryFilter.module.scss
  packages/components/src/components/index.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): address sonar issues
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
  packages/components/src/components/footer/Footer.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test: fix to selected category options order in URL
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/__tests__/Search.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test: update failing mock
  apps/hobbies-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: upgrade nextjs to v15
  Dockerfile
  apps/events-helsinki/eslint.config.mjs
  apps/events-helsinki/next-env.d.ts
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/hobbies-helsinki/eslint.config.mjs
  apps/hobbies-helsinki/next-env.d.ts
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/sports-helsinki/eslint.config.mjs
  apps/sports-helsinki/next-env.d.ts
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/search/combinedSearch/search.module.scss
  apps/sports-helsinki/src/domain/venue/venueInfo/venueInfo.module.scss
  apps/sports-helsinki/src/domain/venue/venueOtherInfo/venueOtherInfo.module.scss
  eslint.config.mjs
  next.base.config.mjs
  package.json
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/src/components/category/CategoryFilter.tsx
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

chore(deps): upgrade packages to latest minor & fix tests / linting
  apps/events-helsinki/eslint.config.mjs
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/app/__tests__/AppConfig.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/hobbies-helsinki/eslint.config.mjs
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/domain/app/__tests__/AppConfig.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/sports-helsinki/eslint.config.mjs
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/app/__tests__/AppConfig.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  package.json
  packages/common-i18n/package.json
  packages/common-tests/package.json
  packages/components/eslint.config.mjs
  packages/components/package.json
  packages/components/src/components/eventCard/__tests__/EventCard.test.tsx
  packages/components/src/components/eventCard/__tests__/LargeEventCard.test.tsx
  packages/components/src/components/eventHero/__tests__/enrolment.test.tsx
  packages/eslint-config-bases/package.json
  packages/graphql-proxy-server/eslint.config.js
  packages/graphql-proxy-server/package.json
  proxies/events-graphql-proxy/eslint.config.mjs
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/eslint.config.mjs
  proxies/venue-graphql-proxy/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(linting): run prettier for files that showed up in CI/CD linting
  packages/components/src/components/dateRangePicker/DateRangePicker.tsx
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/navigation/useGetIsItemActive.tsx
  packages/components/src/geolocation/types.ts
  packages/components/src/utils/eventUtils.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueDepartmentEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueOntologyTreeEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueOntologyWordsEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueOrganizationEnricher.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(csp,consent): add dangerous unsafe-inline csp rule for script-src
  next.base.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(consent): cookie consent content and translations
  packages/common-i18n/src/locales/en/consent.json
  packages/common-i18n/src/locales/fi/consent.json
  packages/common-i18n/src/locales/sv/consent.json
  packages/components/src/components/eventsCookieConsent/useConsentSiteSettings.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(consent): remove needless cookies from cookie consent
  packages/common-i18n/src/locales/en/consent.json
  packages/common-i18n/src/locales/fi/consent.json
  packages/common-i18n/src/locales/sv/consent.json
  packages/components/src/components/eventsCookieConsent/useConsentSiteSettings.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml
