Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-federation-router-dev.yml: any file but: *release-please*, *.md, .github, pipelines/federation-router-release.yml, pipelines/federation-router-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*

chore(test-coverage): exclude some config files from test coverage
  apps/events-helsinki/vitest.config.ts
  apps/hobbies-helsinki/vitest.config.ts
  apps/sports-helsinki/vitest.config.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci(test-coverage): packages should create coverage report from tests
  .github/workflows/ci-packages.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore(test-coverage): fix config files for test coverage cloud service
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
  proxies/events-graphql-proxy/sonar-project.properties
  proxies/venue-graphql-proxy/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

chore(test-coverage): sync sonar-project exclusions with vites config
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

chore(test-coverage): sync sonar-project exclusions with vites config
  apps/events-helsinki/vitest.config.ts
  apps/hobbies-helsinki/vitest.config.ts
  apps/sports-helsinki/vitest.config.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): fix 'Unexpected duplicate "padding"'
  apps/events-helsinki/src/domain/search/landingPage/landingPage.module.scss
  apps/hobbies-helsinki/src/domain/search/landingPage/landingPage.module.scss
  apps/sports-helsinki/src/domain/search/landingPage/landingPage.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

docs: fix heading levels
  proxies/events-graphql-federation/README.md
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-tapahtumat-release.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): remove commented out code
  apps/events-helsinki/src/common-events/components/category/categoryFilter.module.scss
  apps/hobbies-helsinki/src/common-events/components/category/categoryFilter.module.scss
  apps/sports-helsinki/src/common-events/components/category/categoryFilter.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(format): unexpected duplicate css rule
  apps/events-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
  apps/sports-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): extract this nested ternary operation
  apps/events-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): remove commented out code
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/events-helsinki/src/domain/search/landingPage/landingPage.module.scss
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): unnecessary use of conditional expression
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): mark props read-only
  apps/events-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): rename "todo" to "note" to ignore task completion
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/sports-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): fix antipattern of defining component inline
  apps/events-helsinki/src/pages/_app.tsx
  apps/hobbies-helsinki/src/pages/_app.tsx
  apps/sports-helsinki/src/pages/_app.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): reliably sort elements alphabetically
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): prefer using an optional chain expression
  apps/events-helsinki/src/domain/place/PlaceText.tsx
  apps/hobbies-helsinki/src/domain/place/PlaceText.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): mark props read-only
  apps/events-helsinki/src/domain/app/EventsApolloProvider.tsx
  apps/hobbies-helsinki/src/domain/app/HobbiesApolloProvider.tsx
  apps/sports-helsinki/src/domain/app/SportsApolloProvider.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): extract nested ternary operation
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): prefer nullish coalescing
  apps/events-helsinki/src/domain/place/placeSelector/PlaceSelector.tsx
  apps/hobbies-helsinki/src/domain/place/placeSelector/PlaceSelector.tsx
  packages/components/src/components/multiSelectDropdown/MultiSelectDropdown.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): address fixme comments
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): set props readonly and remove commented out code
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/events-helsinki/src/pages/cookie-consent/index.tsx
  apps/events-helsinki/src/pages/events/[eventId]/index.tsx
  apps/events-helsinki/src/styles/breakpoints.scss
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/src/pages/cookie-consent/index.tsx
  apps/hobbies-helsinki/src/pages/courses/[eventId]/index.tsx
  apps/hobbies-helsinki/src/styles/breakpoints.scss
  apps/sports-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/src/pages/cookie-consent/index.tsx
  apps/sports-helsinki/src/pages/courses/[eventId]/index.tsx
  apps/sports-helsinki/src/styles/breakpoints.scss
  packages/components/src/styles/breakpoints.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): remove useless assignment
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/src/pages/articles/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml
