Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-federation-router-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-test.yml@liikunta-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://liikunta.hkih.stage.geniem.io/graphql
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

azure-pipelines-tapahtumat-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-release.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://tapahtumat-router.api.hel.fi/
        CMS_ORIGIN: https://tapahtumat.content.api.hel.fi
  ...

azure-pipelines-tapahtumat-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-test.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-events.test.hel.ninja/
        CMS_ORIGIN: https://tapahtumat.hkih.stage.geniem.io
  ...

pipelines/liikunta-ui-dev.yml:
  pool: Default
  extends:
    template: components/liikunta-ui/pipelines/liikunta-ui-dev.yml@liikunta-pipelines

pipelines/tapahtumat-federation-router-dev.yml:
  pool: Default
  extends:
    template: components/federation-router/pipelines/federation-router-dev.yml@tapahtumat-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://tapahtumat.app-staging.hkih.hion.dev/graphql
  ...

refactor: move event hero keywords as last item in hero
  packages/components/src/components/eventHero/EventHero.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: event hero enrolment status indicators
  packages/components/src/components/domain/event/eventEnrolmentStatus/EventEnrolmentStatus.tsx
  packages/components/src/components/domain/event/eventEnrolmentStatus/constants.ts
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/eventHero/__tests__/EventHero.test.tsx
  packages/components/src/components/eventHero/__tests__/enrolment.test.tsx
  packages/components/src/utils/getEventEnrolmentStatus.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(csp): add Askem to CSP headers
  next.base.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(proxies): syntax error in serverPort getter
  proxies/events-graphql-proxy/src/config/AppConfig.ts
  proxies/venue-graphql-proxy/src/config/AppConfig.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style: remove commented out line from css
  packages/components/src/components/eventHero/eventHero.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: trigger sonarcloud analysis for packages/components
  .github/workflows/ci-packages.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: show event enrolment button before enrolment has started
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/eventHero/__tests__/enrolment.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

chore: upgrade react-helsinki-headless-cms to 1.1.5
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): fix (trivial) security hot spot in tested url
  packages/components/src/components/eventHero/__tests__/enrolment.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(apps,components): update graphql schema types
  packages/components/src/types/generated/graphql.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor(events): use AppConfig for include-param of event queries
  apps/events-helsinki/config/vitest/mocks/eventListMocks.ts
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/events-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/pages/events/[eventId]/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(apps,components): registration field changes
  apps/events-helsinki/config/vitest/mockDataUtils.ts
  apps/hobbies-helsinki/config/vitest/mockDataUtils.ts
  apps/sports-helsinki/config/vitest/mockDataUtils.ts
  packages/components/config/tests/mockDataUtils.ts
  packages/components/src/components/domain/event/eventInfo/mocks/EventInfo.mocks.ts
  packages/components/src/utils/eventUtils.ts
  packages/components/src/utils/getEventEnrolmentStatus.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: show event enrolment status as own new icon in event card
  packages/components/src/components/eventCard/LargeEventCard.tsx
  packages/components/src/components/eventCard/largeEventCard.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor(codegen): replace custom enum handling with built-in function
  README.md
  apps/events-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  apps/hobbies-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  apps/sports-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  packages/components/codegen.ts
  packages/components/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  packages/components/src/codegen/__tests__/pascalCaseWithUnderscoreBeforeLeadingDigit.test.ts
  packages/components/src/codegen/pascalCaseWithUnderscoreBeforeLeadingDigit.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: add new event hero button text for queueable event
  packages/common-i18n/src/locales/en/event.json
  packages/common-i18n/src/locales/fi/event.json
  packages/common-i18n/src/locales/sv/event.json
  packages/components/src/utils/eventUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(hobbies): add registration to event search "include" -query param
  apps/hobbies-helsinki/README.md
  apps/hobbies-helsinki/config/vitest/mocks/eventListMocks.ts
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/pages/courses/[eventId]/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: show event enrolment status also when event is enrollable
  packages/components/src/components/domain/event/eventEnrolmentStatus/EventEnrolmentStatus.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: event enrolment status
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/eventHero/eventHero.module.scss
  packages/components/src/utils/eventUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: add queueable status to enrolment status handling
  packages/components/src/utils/getEventEnrolmentStatus.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: remove link arrow label / enrolment status from carousel cards
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  apps/sports-helsinki/src/hooks/useSportsRHHCConfig.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor(apps,components): move event hero keywords below short-desc
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/eventHero/eventHero.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor(hobbies): use AppConfig for include-param of event queries
  apps/hobbies-helsinki/config/vitest/mocks/eventListMocks.ts
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/pages/courses/[eventId]/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: remove event enrolment closed explanation
  packages/common-i18n/src/locales/en/event.json
  packages/common-i18n/src/locales/fi/event.json
  packages/common-i18n/src/locales/sv/event.json
  packages/components/src/components/eventHero/EventHero.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor(components): split EventHero component
  packages/components/src/components/eventHero/EventHero.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: disable buy/enrol button in event page if remaining capacity is 0
  packages/common-i18n/src/locales/en/event.json
  packages/common-i18n/src/locales/fi/event.json
  packages/common-i18n/src/locales/sv/event.json
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/eventHero/eventHero.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: use early returns in event hero sub components
  packages/components/src/components/eventHero/EventHero.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(codegen): graphql schema type generation using custom script
  apps/events-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  apps/hobbies-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  apps/sports-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style: use a color of brick as alert color of enrolment status
  packages/components/src/components/eventCard/largeEventCard.module.scss
  packages/components/src/components/eventHero/eventHero.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: always show event time in event details hero
  packages/components/src/components/eventHero/EventHero.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: remove needless and dangerous console logging
  apps/hobbies-helsinki/next-i18next.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(components): add registration number fields to event details
  packages/components/src/components/domain/event/query.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor(sports): use AppConfig for include-param of event queries
  apps/sports-helsinki/config/vitest/mocks/eventListMocks.ts
  apps/sports-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/sports-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/EventSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/venue/upcomingEvents/__tests__/upcomingEventsSection.test.tsx
  apps/sports-helsinki/src/pages/courses/[eventId]/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-federation-router-dev.yml: any file but: *release-please*, *.md, .github, pipelines/federation-router-release.yml, pipelines/federation-router-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*
