Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-federation-router-dev.yml: any file but: *release-please*, *.md, .github, pipelines/federation-router-release.yml, pipelines/federation-router-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*

feat(hobbies): reorganize search menu elements after hobby type removal
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: change page size from 10→25 for all normal searches & CMS listings
  apps/events-helsinki/README.md
  apps/events-helsinki/browser-tests/search-page/search-page.testcafe.ts
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/events-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/README.md
  apps/hobbies-helsinki/browser-tests/search-page/search-page.testcafe.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/README.md
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/EventSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/VenueSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/__snapshots__/CombinedSearchProvider.test.tsx.snap
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/sports-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/sports-helsinki/src/domain/search/venueSearch/hooks/useSearchPage.tsx
  apps/sports-helsinki/src/pages/articles/index.tsx
  packages/common-tests/browser-tests/page-model/eventSearchPage.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

docs: document some of the used keywords
  apps/events-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(events): add more keywords to music, museum, nature and theatre
  apps/events-helsinki/src/domain/search/eventSearch/constants.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: move pageSize to AppConfig for all apps & use it
  apps/events-helsinki/browser-tests/search-page/search-page.testcafe.ts
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/events-helsinki/src/domain/place/placeSelector/PlaceSelector.tsx
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/events-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/browser-tests/search-page/search-page.testcafe.ts
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/EventSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/VenueSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/sports-helsinki/src/domain/search/venueSearch/hooks/useSearchPage.tsx
  apps/sports-helsinki/src/pages/articles/index.tsx
  packages/common-tests/browser-tests/page-model/eventSearchPage.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: remove custom back button / back arrow functionality completely
  apps/sports-helsinki/src/domain/venue/venueHero/VenueHero.tsx
  apps/sports-helsinki/src/domain/venue/venueHero/__tests__/VenueHero.test.tsx
  apps/sports-helsinki/src/domain/venue/venueHero/venueHero.module.scss
  packages/common-i18n/src/locales/en/event.json
  packages/common-i18n/src/locales/en/venue.json
  packages/common-i18n/src/locales/fi/event.json
  packages/common-i18n/src/locales/fi/venue.json
  packages/common-i18n/src/locales/sv/event.json
  packages/common-i18n/src/locales/sv/venue.json
  packages/common-tests/browser-tests/eventSearch/search-page.testcafe.utils.ts
  packages/common-tests/browser-tests/page-model/eventDetailsPage.ts
  packages/components/src/components/errorPages/ErrorPage.tsx
  packages/components/src/components/errorPages/errorPage.module.scss
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/eventHero/__tests__/EventHero.test.tsx
  packages/components/src/components/eventHero/eventHero.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: show weekdays in event cards also for date ranges
  packages/components/src/utils/__tests__/getDateRangeStr.test.ts
  packages/components/src/utils/getDateRangeStr.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): fix readability issues
  apps/sports-helsinki/src/common-events/components/search/SearchAutosuggest.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: use browser's back button, not custom back button in detail pages
  apps/sports-helsinki/src/domain/venue/venueHero/VenueHero.tsx
  apps/sports-helsinki/src/domain/venue/venueHero/__tests__/VenueHero.test.tsx
  apps/sports-helsinki/src/domain/venue/venueHero/venueHero.module.scss
  packages/common-i18n/src/locales/en/event.json
  packages/common-i18n/src/locales/en/venue.json
  packages/common-i18n/src/locales/fi/event.json
  packages/common-i18n/src/locales/fi/venue.json
  packages/common-i18n/src/locales/sv/event.json
  packages/common-i18n/src/locales/sv/venue.json
  packages/common-tests/browser-tests/eventSearch/search-page.testcafe.utils.ts
  packages/common-tests/browser-tests/page-model/eventDetailsPage.ts
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/eventHero/__tests__/EventHero.test.tsx
  packages/components/src/components/eventHero/eventHero.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor(search): use generic element to create advanced search inputs
  packages/components/src/components/advancedSearch/AdvancedSearchInput.tsx
  packages/components/src/components/advancedSearch/AdvancedSearchTextInput.tsx
  packages/components/src/components/advancedSearch/advancedSearchInput.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test(search): advanced search input
  packages/components/src/components/advancedSearch/__tests__/AdvancedSearchInput.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sonar): fix unnecessary spread object literal
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(search): add form element to landing page search
  apps/events-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test(search): advanced search text input
  packages/components/src/components/advancedSearch/__tests__/AdvancedSearchTextInput.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: browser back navigation scroll restoration
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearch.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/events-helsinki/src/pages/cookie-consent/index.tsx
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/pages/cookie-consent/index.tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/SearchForm.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  apps/sports-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/hooks/useSearchPage.tsx
  apps/sports-helsinki/src/pages/cookie-consent/index.tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/pages/venues/[venueId]/index.tsx
  next.base.config.mjs
  packages/components/src/hooks/index.ts
  packages/components/src/hooks/usePageScrollRestoration.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

WIP
  apps/events-helsinki/src/pages/cookie-consent/index.tsx
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/src/pages/cookie-consent/index.tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/README.md
  apps/sports-helsinki/src/pages/cookie-consent/index.tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/pages/venues/[venueId]/index.tsx
  next.base.config.mjs
  packages/components/src/hooks/index.ts
  packages/components/src/hooks/usePageScrollRestoration.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: hide clear buttons from dropdowns
  packages/components/src/components/dropdownMenu/DropdownMenu.tsx
  packages/components/src/components/multiSelectDropdown/MultiSelectDropdown.tsx
  packages/components/src/components/multiSelectDropdown/types.ts
  packages/components/src/components/rangeDropdown/RangeDropdown.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: hide close button from date selector
  packages/components/src/components/dateSelector/DateSelectorMenu.tsx
  packages/components/src/components/dateSelector/__tests__/__snapshots__/DateSelectorMenu.test.tsx.snap
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(components): add AdvancedSearchNumberInput component
  apps/hobbies-helsinki/config/vitest/mocks/eventListMocks.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/types.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  packages/common-i18n/src/locales/en/search.json
  packages/common-i18n/src/locales/fi/search.json
  packages/common-i18n/src/locales/sv/search.json
  packages/components/src/components/advancedSearch/AdvancedSearchNumberInput.tsx
  packages/components/src/components/advancedSearch/index.ts
  packages/components/src/components/filterButton/types.ts
  packages/components/src/components/filters/AgeFilter.tsx
  packages/components/src/components/filters/__tests__/AgeFilter.test.tsx
  packages/components/src/components/filters/__tests__/__snapshots__/AgeFilter.test.tsx.snap
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(apps): root index page headers populated from nextjs configuration
  next.base.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(events): checkbox filter applies only after search form submitted
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/__tests__/Search.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
  apps/events-helsinki/src/domain/search/eventSearch/constants.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(hobbies): checkbox filter applies only after search form submitted
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/__tests__/Search.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml
