Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md

refactor: improve Askem api key api config
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/src/domain/app/AppConfig.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: move Matomo, Askem and HDS-style handling of the BaseApp to new files
  packages/components/src/app/BaseApp.tsx
  packages/components/src/app/useHdsStyleFix.tsx
  packages/components/src/components/askem/useAskemContext.tsx
  packages/components/src/components/matomo/useMatomo.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix(askem): fix Askem looping to fetch rns.js on article pages
  packages/components/src/app/BaseApp.tsx
  packages/components/src/components/askem/Askem.ts
  packages/components/src/components/askem/index.ts
  packages/components/src/components/askem/types.ts
  packages/components/src/components/footer/Footer.tsx
  packages/components/src/styles/askem.scss
  packages/components/src/types/types.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: upgrade the HCRC to fix infinite loop with layout cards modules
  apps/events-helsinki/package.json
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: dropdown border mobile (#533)
  apps/sports-helsinki/src/domain/search/combinedSearch/searchTabs/SearchTabs.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: update short urls
  apps/sports-helsinki/redirectRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: fix typos in short urls
  apps/sports-helsinki/redirectRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: disable static page generating at build time
  azure-pipelines-liikunta-release.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

fix: default search tab should not push-navigate but replace the route
  apps/sports-helsinki/src/domain/search/combinedSearch/hooks/useSearchTabsWithParams.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: disable static page generating at build time in review and test
  azure-pipelines-liikunta-review.yml
  azure-pipelines-liikunta-test.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: add additional redirect urls
  apps/sports-helsinki/redirectRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: fix additional redirect urls
  apps/sports-helsinki/redirectRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: fix additional redirect urls, again
  apps/sports-helsinki/redirectRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: landing page hero refactoring
  apps/events-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/sports-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/sports-helsinki/src/pages/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: helsinki owned icon to carousel cards
  apps/events-helsinki/package.json
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/hooks/useSportsRHHCConfig.tsx
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: organisation prefixes in config
  apps/events-helsinki/package.json
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/hooks/useSportsRHHCConfig.tsx
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: refactoring
  apps/events-helsinki/package.json
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/hooks/useSportsRHHCConfig.tsx
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: typecheck fix
  apps/events-helsinki/config/jest/index.test.tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/config/jest/index.test.tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/sports-helsinki/config/jest/index.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: backward compatibility urls
  apps/sports-helsinki/next.config.js
  apps/sports-helsinki/redirectBackwardCompatibilityRoutes.config.js
  apps/sports-helsinki/redirectCampaignRoutes.config.js
  apps/sports-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: hero show always
  apps/events-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/hobbies-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/sports-helsinki/src/domain/search/landingPage/LandingPage.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: landing page hero refactoring (#539)
  apps/events-helsinki/config/jest/index.test.tsx
  apps/events-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/config/jest/index.test.tsx
  apps/hobbies-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/sports-helsinki/config/jest/index.test.tsx
  apps/sports-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/sports-helsinki/src/pages/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: helsinki owned icon to carousel cards (#540)
  apps/events-helsinki/package.json
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/hooks/useSportsRHHCConfig.tsx
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: article hero duplicate koros fix
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: article hero duplicate koros fix (#549)
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: fix add missing var to dockerfile
  Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: revert redirect rules
  apps/sports-helsinki/redirectRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: disable static page generation on built time
  Dockerfile
  azure-pipelines-harrastukset-release.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-harrastukset-test.yml
  azure-pipelines-liikunta-release.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-liikunta-test.yml
  azure-pipelines-tapahtumat-release.yml
  azure-pipelines-tapahtumat-review.yml
  azure-pipelines-tapahtumat-test.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: upgrade to HDS v3.1.0 and HCRC that uses HDS v3.1.0 & update tests
  README.md
  apps/events-helsinki/README.md
  apps/events-helsinki/package.json
  apps/events-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  apps/events-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/events-helsinki/src/domain/error/ErrorHero.tsx
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  apps/hobbies-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/hobbies-helsinki/src/domain/error/ErrorHero.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  apps/sports-helsinki/package.json
  apps/sports-helsinki/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  apps/sports-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/sports-helsinki/src/domain/error/ErrorHero.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  packages/common-tests/browser-tests/page-model/header.ts
  packages/components/.storybook/main.js
  packages/components/codegen.ts
  packages/components/codegen.yml
  packages/components/package.json
  packages/components/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  packages/components/src/codegen/__tests__/pascalCaseWithUnderscoreBeforeLeadingDigit.test.ts
  packages/components/src/codegen/pascalCaseWithUnderscoreBeforeLeadingDigit.js
  packages/components/src/components/dateSelector/__tests__/__snapshots__/DateSelectorMenu.test.tsx.snap
  packages/components/src/components/filterButton/FilterButton.tsx
  packages/components/src/components/filterButton/__tests__/__snapshots__/FilterButton.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/AgeFilter.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/DateFilter.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/PlaceFilter.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/PublisherFilter.test.tsx.snap
  packages/components/src/components/filters/__tests__/__snapshots__/TextFilter.test.tsx.snap
  packages/components/src/components/footer/Footer.tsx
  packages/components/src/components/keyword/__tests__/__snapshots__/KeywordButton.test.tsx.snap
  packages/components/src/components/search/__tests__/__snapshots__/AutoSuggestMenu.test.tsx.snap
  packages/components/src/components/select/__tests__/__snapshots__/SearchSelect.test.tsx.snap
  packages/components/src/constants/constants.ts
  packages/components/src/types/generated/graphql.tsx
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: upgrade HCRC-lib
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: fix events version
  .release-please-manifest.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

testing
  Dockerfile
  DockerfileCache
  apps/events-helsinki/.env.local.example
  apps/events-helsinki/src/domain/app/getEventsStaticProps.ts
  apps/hobbies-helsinki/.env.local.example
  apps/hobbies-helsinki/src/domain/app/getHobbiesStaticProps.ts
  apps/sports-helsinki/.env.local.example
  apps/sports-helsinki/src/domain/app/getSportsStaticProps.ts
  apps/sports-helsinki/src/pages/search/index.tsx
  docker-compose.events.yml
  docker-compose.hobbies.yml
  docker-compose.sports.yml
  packages/components/src/app/BaseApp.tsx
  packages/components/src/components/domain/menu/query.ts
  packages/components/src/components/header/Header.tsx
  packages/components/src/components/header/header.module.scss
  packages/components/src/components/header/menuQuery.ts
  packages/components/src/components/index.ts
  packages/components/src/constants/constants.ts
  packages/components/src/navigationProvider/NavigationContext.tsx
  packages/components/src/navigationProvider/NavigationProvider.tsx
  packages/components/src/types/generated/graphql.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml
