Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-federation-router-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-test.yml@liikunta-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://liikunta.hkih.stage.geniem.io/graphql
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

azure-pipelines-tapahtumat-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-release.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://tapahtumat-router.api.hel.fi/
        CMS_ORIGIN: https://tapahtumat.content.api.hel.fi
  ...

azure-pipelines-tapahtumat-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-test.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-events.test.hel.ninja/
        CMS_ORIGIN: https://tapahtumat.hkih.stage.geniem.io
  ...

WIP eslint work for packages
  .prettierrc.js
  packages/common-i18n/.eslintrc.cjs
  packages/common-i18n/eslint.config.cjs
  packages/common-i18n/eslint.config.js
  packages/common-i18n/lint-staged.config.js
  packages/common-i18n/src/tests/initI18n.ts
  packages/common-tests/.eslintrc.cjs
  packages/common-tests/browser-tests/eventSearch/search-page.testcafe.utils.ts
  packages/common-tests/browser-tests/page-model/consent-modal.ts
  packages/common-tests/browser-tests/page-model/eventSearchPage.ts
  packages/common-tests/browser-tests/roles/allCookiesUser.ts
  packages/common-tests/eslint.config.cjs
  packages/common-tests/eslint.config.js
  packages/common-tests/lint-staged.config.js
  packages/components/eslint.config.js
  packages/components/postcss.config.js
  packages/eslint-config-bases/package.json
  packages/eslint-config-bases/src/bases/testcafe.js
  packages/eslint-config-bases/src/index.js
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP graphql-proxy-server packages eslint
  packages/components/package.json
  packages/eslint-config-bases/package.json
  packages/graphql-proxy-server/.eslintignore
  packages/graphql-proxy-server/.eslintrc.js
  packages/graphql-proxy-server/.jest/setupTests.ts
  packages/graphql-proxy-server/eslint.config.js
  packages/graphql-proxy-server/jest.config.js
  packages/graphql-proxy-server/package.json
  packages/graphql-proxy-server/src/datasources/DataSourceWithContext.ts
  packages/graphql-proxy-server/src/server.ts
  packages/graphql-proxy-server/src/utils/__tests__/queryBuilder.test.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP style: venue-graphql-proxy lintin
  proxies/venue-graphql-proxy/.eslintignore
  proxies/venue-graphql-proxy/.eslintrc.js
  proxies/venue-graphql-proxy/eslint.config.js
  proxies/venue-graphql-proxy/jest.config.js
  proxies/venue-graphql-proxy/package.json
  proxies/venue-graphql-proxy/src/datasources/HaukiDataSource.ts
  proxies/venue-graphql-proxy/src/resolvers/Venue.ts
  proxies/venue-graphql-proxy/src/resolvers/venueQueryResolver.ts
  proxies/venue-graphql-proxy/src/resolvers/venuesByIdsResolver.ts
  proxies/venue-graphql-proxy/src/types.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/utils.test.ts
  proxies/venue-graphql-proxy/src/utils/map-keys-to-camel-case.ts
  proxies/venue-graphql-proxy/src/utils/utils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP
  proxies/venue-graphql-proxy/config/env.js
  proxies/venue-graphql-proxy/config/paths.js
  proxies/venue-graphql-proxy/config/webpack.config.js
  proxies/venue-graphql-proxy/eslint.config.js
  proxies/venue-graphql-proxy/package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Set review database variables by Ansible scripts
  pipelines/liikunta-ui-dev.yml
  pipelines/liikunta-ui-release.yml
  pipelines/liikunta-ui-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Set review database variables by Ansible scripts
  pipelines/federation-router-dev.yml
  pipelines/federation-router-release.yml
  pipelines/federation-router-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Set review database variables by Ansible scripts
  pipelines/events-graphql-proxy-dev.yml
  pipelines/events-graphql-proxy-release.yml
  pipelines/events-graphql-proxy-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Set review database variables by Ansible scripts
  pipelines/venue-graphql-proxy-dev.yml
  pipelines/venue-graphql-proxy-release.yml
  pipelines/venue-graphql-proxy-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: rename liikunta federation router pipelines
  pipelines/liikunta-federation-router-dev.yml
  pipelines/liikunta-federation-router-release.yml
  pipelines/liikunta-federation-router-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP
  proxies/venue-graphql-proxy/.jest/setupTests.ts
  proxies/venue-graphql-proxy/config/env.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP venue graphql proxy now works dev and prod
  packages/graphql-proxy-server/package.json
  packages/graphql-proxy-server/src/context/ContextValue.ts
  packages/graphql-proxy-server/src/server-config/server-config.ts
  packages/graphql-proxy-server/src/server.ts
  packages/graphql-proxy-server/src/types.ts
  packages/graphql-proxy-server/src/utils/acceptLanguage.ts
  proxies/venue-graphql-proxy/config/webpack.config.js
  proxies/venue-graphql-proxy/package.json
  proxies/venue-graphql-proxy/src/types.ts
  proxies/venue-graphql-proxy/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP
  apps/sports-helsinki/package.json
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP
  proxies/venue-graphql-proxy/nodemon.json
  proxies/venue-graphql-proxy/package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP event proxy finished
  packages/graphql-proxy-server/src/server-config/server-config.ts
  proxies/events-graphql-proxy/.eslintignore
  proxies/events-graphql-proxy/.eslintrc.js
  proxies/events-graphql-proxy/config/env.js
  proxies/events-graphql-proxy/config/paths.js
  proxies/events-graphql-proxy/config/webpack.config.js
  proxies/events-graphql-proxy/eslint.config.js
  proxies/events-graphql-proxy/jest.config.js
  proxies/events-graphql-proxy/nodemon.json
  proxies/events-graphql-proxy/package.json
  proxies/events-graphql-proxy/src/__tests__/eventIntegration.test.ts
  proxies/events-graphql-proxy/src/config/AppConfig.ts
  proxies/events-graphql-proxy/src/context/EventContext.ts
  proxies/events-graphql-proxy/src/datasources/LinkedEventsDataSource.ts
  proxies/events-graphql-proxy/src/datasources/MapOpenDataDataSource.ts
  proxies/events-graphql-proxy/src/datasources/eventDataSource.ts
  proxies/events-graphql-proxy/src/datasources/keywordDataSource.ts
  proxies/events-graphql-proxy/src/datasources/neighborhoodDataSource.ts
  proxies/events-graphql-proxy/src/datasources/organizationDataSource.ts
  proxies/events-graphql-proxy/src/datasources/placeDataSource.ts
  proxies/events-graphql-proxy/src/index.ts
  proxies/events-graphql-proxy/src/schema/event/resolvers.ts
  proxies/events-graphql-proxy/src/schema/event/utils.ts
  proxies/events-graphql-proxy/src/schema/index.ts
  proxies/events-graphql-proxy/src/schema/keyword/resolvers.ts
  proxies/events-graphql-proxy/src/schema/neighborhood/resolvers.ts
  proxies/events-graphql-proxy/src/schema/organization/resolvers.ts
  proxies/events-graphql-proxy/src/schema/place/resolvers.ts
  proxies/events-graphql-proxy/src/schema/resolvers.ts
  proxies/events-graphql-proxy/src/schema/typeDefs.ts
  proxies/events-graphql-proxy/src/types.ts
  proxies/events-graphql-proxy/src/types/types.ts
  proxies/events-graphql-proxy/src/utils/testUtils.ts
  proxies/events-graphql-proxy/tsconfig.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP fixes to venue
  proxies/venue-graphql-proxy/src/config/AppConfig.ts
  proxies/venue-graphql-proxy/src/context/VenueContext.ts
  proxies/venue-graphql-proxy/src/index.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP fix tsconfig base
  proxies/events-graphql-proxy/package.json
  proxies/events-graphql-proxy/tsconfig.json
  proxies/venue-graphql-proxy/package.json
  proxies/venue-graphql-proxy/tsconfig.json
  tsconfig.base.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP events build words, since eslint and tsconfig fixed
  apps/events-helsinki/.eslintrc.js
  apps/events-helsinki/.jest/__mocks__/fileMock.js
  apps/events-helsinki/.jest/setupTests.ts
  apps/events-helsinki/.size-limit.js
  apps/events-helsinki/config/jest/TestProviders.tsx
  apps/events-helsinki/config/jest/mocks/eventListMocks.ts
  apps/events-helsinki/config/jest/test-utils.tsx
  apps/events-helsinki/eslint.config.js
  apps/events-helsinki/i18nRoutes.config.js
  apps/events-helsinki/jest.config.js
  apps/events-helsinki/lint-staged.config.js
  apps/events-helsinki/next-i18next.config.js
  apps/events-helsinki/next.config.js
  apps/events-helsinki/package.json
  apps/events-helsinki/postcss.config.js
  apps/events-helsinki/redirectCampaignRoutes.config.js
  apps/events-helsinki/redirectNonCampaignRoutes.config.js
  apps/events-helsinki/sentry.client.config.ts
  apps/events-helsinki/src/common-events/components/category/CategoryFilter.stories.tsx
  apps/events-helsinki/src/common-events/components/search/SearchAutosuggest.tsx
  apps/events-helsinki/src/common-events/components/search/__tests__/SearchAutosuggest.test.tsx
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/events-helsinki/src/domain/clients/eventsApolloClient.ts
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
  apps/events-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/events-helsinki/src/i18n.ts
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/events-helsinki/tsconfig.json
  packages/components/src/codegen/pascalCaseWithUnderscoreBeforeLeadingDigit.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP update docs for eslint config
  .dockerignore
  README.md
  apps/hobbies-helsinki/eslint.config.js
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/tsconfig.json
  docs/about-lint-staged.md
  docs/about-linters.md
  packages/eslint-config-bases/README.md
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP fixes to events
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP hobbies eslint and build work
  apps/hobbies-helsinki/.eslintrc.js
  apps/hobbies-helsinki/.jest/__mocks__/fileMock.js
  apps/hobbies-helsinki/.jest/setupTests.ts
  apps/hobbies-helsinki/.size-limit.js
  apps/hobbies-helsinki/config/jest/TestProviders.tsx
  apps/hobbies-helsinki/config/jest/mocks/eventListMocks.ts
  apps/hobbies-helsinki/config/jest/test-utils.tsx
  apps/hobbies-helsinki/eslint.config.js
  apps/hobbies-helsinki/i18nRoutes.config.js
  apps/hobbies-helsinki/jest.config.js
  apps/hobbies-helsinki/lint-staged.config.js
  apps/hobbies-helsinki/next-i18next.config.js
  apps/hobbies-helsinki/next.config.js
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/postcss.config.js
  apps/hobbies-helsinki/redirectCampaignRoutes.config.js
  apps/hobbies-helsinki/sentry.client.config.ts
  apps/hobbies-helsinki/src/common-events/components/category/CategoryFilter.stories.tsx
  apps/hobbies-helsinki/src/common-events/components/search/SearchAutosuggest.tsx
  apps/hobbies-helsinki/src/common-events/components/search/__tests__/SearchAutosuggest.test.tsx
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/clients/hobbiesApolloClient.ts
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/__tests__/Search.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/src/i18n.ts
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/tsconfig.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP fix issues reported by check:install
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/common-tests/package.json
  packages/components/jest.config.js
  packages/components/tsconfig.json
  packages/eslint-config-bases/package.json
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/package.json
  proxies/venue-graphql-proxy/src/utils/__tests__/utils.test.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: skip lint-staged task if there are no files associated for it
  apps/events-helsinki/lint-staged.config.mjs
  apps/hobbies-helsinki/lint-staged.config.mjs
  apps/sports-helsinki/lint-staged.config.mjs
  lint-staged.config.mjs
  packages/common-i18n/lint-staged.config.mjs
  packages/components/lint-staged.config.mjs
  packages/eslint-config-bases/lint-staged.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore(deps): upgrade dependencies
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/venue/utils/__tests__/getVenueOpeningTimeDescription.test.ts
  apps/sports-helsinki/src/domain/venue/utils/getVenueOpeningTimeDescription.ts
  package.json
  packages/common-tests/lint-staged.config.mjs
  packages/components/package.json
  packages/components/src/components/dateRangePicker/DateRangePicker.tsx
  packages/components/src/components/dateRangePicker/__tests/DateRangePicker.test.tsx
  packages/components/src/components/domain/venue/utils/__tests__/getVenueOpeningTimeDescription.test.ts
  packages/components/src/utils/dateUtils.ts
  packages/components/src/utils/getDateRangeStr.ts
  packages/components/src/utils/time/humanizeOpeningHoursForWeek.ts
  packages/eslint-config-bases/package.json
  proxies/venue-graphql-proxy/package.json
  proxies/venue-graphql-proxy/src/datasources/HaukiDataSource.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: fix lint-staged config for components package
  packages/components/lint-staged.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps(apps): remove "domain"
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore(deps): upgrade graphql-federation apollo router
  .gitignore
  docker-compose.router.yml
  proxies/events-graphql-federation/Dockerfile
  proxies/events-graphql-federation/router.yaml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(sports): errenous import statement to useCombinedSearchContext
  apps/sports-helsinki/src/domain/search/eventSearch/hooks/useSearchPage.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
