Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

Path conditions:
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md

build: update the yarn lock
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

refactor: poc for real pages and articles on demand static generation
  apps/events-helsinki/src/pages/api/revalidatetest.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml

fix: search type specific error messages
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/ResultsInfo.tsx
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/ResultsInfo.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/SearchResultsContainer.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/ResultsInfo.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/ResultsInfo.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/SearchResultsContainer.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/ResultsInfo.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/ResultsInfo.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/SearchResultsContainer.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  packages/common-i18n/src/locales/en/search.json
  packages/common-i18n/src/locales/fi/search.json
  packages/common-i18n/src/locales/sv/search.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

fix: search type specific error messages tests
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/ResultsInfo.tsx
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/ResultsInfo.test.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml

fix: fix failing tests, snapshots
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

Search page item type specific error messages (#333)
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/ResultsInfo.tsx
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/ResultsInfo.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/SearchResultsContainer.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/ResultsInfo.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/ResultsInfo.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/SearchResultsContainer.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  apps/sports-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/ResultsInfo.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/SearchResultsContainer.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/ResultsInfo.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/SearchResultsContainer.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/__snapshots__/ResultsInfo.test.tsx.snap
  apps/sports-helsinki/src/domain/search/venueSearch/SearchPage.tsx
  packages/common-i18n/src/locales/en/search.json
  packages/common-i18n/src/locales/fi/search.json
  packages/common-i18n/src/locales/sv/search.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

chore: add logging for revalidation, optional uri for revalidate one page
  apps/events-helsinki/src/pages/api/revalidate.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml

chore: revalidation instructions to README
  README.md
Due: none

chore: refactor revalidate to remove duplicate pages
  apps/events-helsinki/src/pages/api/revalidate.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml

fix: update graphql.tsx (Ran "yarn generate:graphql" and copied file)
  packages/components/src/types/generated/graphql.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

chore: readme typo fixes
  README.md
Due: none

refactor: rename Hero component to HeroComponent to disambiguate Heros
  apps/events-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/hobbies-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/sports-helsinki/src/domain/search/landingPage/LandingPage.tsx
  packages/components/src/components/hero/HeroComponent.tsx
  packages/components/src/components/hero/heroComponent.module.scss
  packages/components/src/components/index.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

fix(venue-proxy): rename Connection type in venue-subgraph to VenueConnection
  proxies/venue-graphql-proxy/src/schema/venue/venueSchema.ts
  proxies/venue-graphql-proxy/src/types/types.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml

chore: remove revalidatetest from pages/api
  apps/events-helsinki/src/pages/api/revalidatetest.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml

chore: add some logging for page revalidation
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/index.tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

chore: merge master
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

feat: consent extended
  packages/components/src/components/matomoWrapper/MatomoWrapper.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

feat: move matomo to optional cookies
  packages/common-i18n/src/locales/en/consent.json
  packages/common-i18n/src/locales/fi/consent.json
  packages/common-i18n/src/locales/sv/consent.json
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

fix: translations and sections update
  packages/common-i18n/src/locales/en/consent.json
  packages/common-i18n/src/locales/fi/consent.json
  packages/common-i18n/src/locales/sv/consent.json
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

Cookie consent optional cookies logic (#267)
  packages/common-i18n/src/locales/en/consent.json
  packages/common-i18n/src/locales/fi/consent.json
  packages/common-i18n/src/locales/sv/consent.json
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
  packages/components/src/components/matomoWrapper/MatomoWrapper.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

refactor: improve page revalidatiion logging with timestamps
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/index.tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

fix: api/revalidation allow POST only
  apps/events-helsinki/src/pages/api/revalidate.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml

chore: dev environment example configurations as in the server
  apps/events-helsinki/.env.local.example
Due: azure-pipelines-harrastukset-federation-router-release.yml

chore: dev environment example configuration add revalidate_token
  apps/events-helsinki/.env.local.example
Due: azure-pipelines-harrastukset-federation-router-release.yml

fix: sonarcloud error, catch async function failure
  apps/events-helsinki/src/pages/api/revalidate.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml

build: use main pipeline branch
  azure-pipelines-tapahtumat-review.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml

feat: shared storage and on-demand site generation (#320)
  Dockerfile
  README.md
  apps/events-helsinki/.env.local.example
  apps/events-helsinki/CHANGELOG.md
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/events-helsinki/src/pages/api/revalidate.ts
  apps/hobbies-helsinki/CHANGELOG.md
  apps/sports-helsinki/CHANGELOG.md
  azure-pipelines-tapahtumat-review.yml
  next.base.config.js
  proxies/events-graphql-federation/CHANGELOG.md
  proxies/venue-graphql-proxy/CHANGELOG.md
  run_node.sh
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

fix(sports): fix English translations of search types
  packages/common-i18n/src/locales/en/search.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml

fix: collection cards localization
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml
