Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-federation-router-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-test.yml@liikunta-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://liikunta.hkih.stage.geniem.io/graphql
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

azure-pipelines-tapahtumat-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-release.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://tapahtumat-router.api.hel.fi/
        CMS_ORIGIN: https://tapahtumat.content.api.hel.fi
  ...

azure-pipelines-tapahtumat-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-test.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-events.test.hel.ninja/
        CMS_ORIGIN: https://tapahtumat.hkih.stage.geniem.io
  ...

pipelines/liikunta-ui-dev.yml:
  pool: Default
  extends:
    template: components/liikunta-ui/pipelines/liikunta-ui-dev.yml@liikunta-pipelines

pipelines/tapahtumat-federation-router-dev.yml:
  pool: Default
  extends:
    template: components/federation-router/pipelines/federation-router-dev.yml@tapahtumat-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://tapahtumat.app-staging.hkih.hion.dev/graphql
  ...

fix: align TestCafe consent with HDS 6 for CI
  apps/events-helsinki/.testcaferc.json
  apps/events-helsinki/browser-tests/landing-page/landing-page.testcafe.ts
  apps/events-helsinki/browser-tests/search-page/search-page.testcafe.ts
  apps/hobbies-helsinki/.testcaferc.json
  apps/hobbies-helsinki/browser-tests/landing-page/landing-page.testcafe.ts
  apps/hobbies-helsinki/browser-tests/search-page/search-page.testcafe.ts
  apps/sports-helsinki/.testcaferc.json
  apps/sports-helsinki/browser-tests/landing-page/landing-page.testcafe.ts
  packages/common-tests/.testcaferc.json
  packages/common-tests/browser-tests/page-model/consent-modal.ts
  packages/common-tests/browser-tests/roles/allCookiesUser.ts
  packages/common-tests/browser-tests/roles/ensureConsentDismissed.ts
  packages/common-tests/browser-tests/roles/index.ts
  packages/common-tests/browser-tests/roles/useRoleAndNavigateBack.testcafe.utils.ts
  packages/common-tests/browser-tests/utils/consent-cookie.utils.ts
  packages/common-tests/browser-tests/utils/index.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: disable TestCafe video recording in CI browser tests
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: .gitignore .agents
  .gitignore
  apps/events-helsinki/next-env.d.ts
  apps/hobbies-helsinki/next-env.d.ts
  apps/sports-helsinki/next-env.d.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: multiSelectDropdown map options Refs: LIIKUNTA-794
  packages/components/src/components/multiSelectDropdown/MultiSelectDropdown.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: eventSearch utils prefer global Number Refs: LIIKUNTA-794
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: use explicit button type Refs: LIIKUNTA-794
  packages/components/src/components/copyButton/CopyButton.tsx
  packages/components/src/components/domain/event/eventInfo/EventInfo.tsx
  packages/components/src/components/domain/event/eventInfo/EventsHierarchy.tsx
  packages/components/src/components/domain/event/eventInfo/OtherEventTimes.tsx
  packages/components/src/components/iconButton/IconButton.tsx
  packages/components/src/components/infoBlock/InfoBlock.tsx
  packages/components/src/components/mobileDateSelector/MobileDateSelectorMenu.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: getIsValidDate prefer global Number Refs: LIIKUNTA-794
  packages/components/src/utils/getIsValidDate.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: prefer new Error() Refs: LIIKUNTA-794
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/src/domain/venue/utils/getVenueIdParts.ts
  proxies/events-graphql-proxy/src/config/AppConfig.ts
  proxies/venue-graphql-proxy/src/config/AppConfig.ts
  proxies/venue-graphql-proxy/src/utils/parseVenueId.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: getVenueDirections use replaceAll Refs: LIIKUNTA-794
  apps/sports-helsinki/src/domain/venue/utils/getVenueDirections.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: copyButton type override Refs: LIIKUNTA-794
  packages/components/src/components/copyButton/CopyButton.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: parseVenueId use TypeError Refs: LIIKUNTA-794
  proxies/venue-graphql-proxy/src/utils/parseVenueId.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: align sports coverage exclusions with vitest Refs: LIIKUNTA-793
  apps/sports-helsinki/sonar-project.properties
  apps/sports-helsinki/vitest.config.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: sports-helsinki hooks tests Refs: LIIKUNTA-793
  apps/sports-helsinki/src/domain/search/combinedSearch/hooks/__tests__/useFormValues.test.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/hooks/__tests__/useScrollToSearchResultItem.test.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/hooks/__tests__/useSearchTabsWithParams.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/hooks/__tests__/useSearchPage.test.tsx
  apps/sports-helsinki/src/domain/search/venueSearch/hooks/__tests__/useSearchPage.test.tsx
  apps/sports-helsinki/src/hooks/__tests__/useHandleUnifiedSearchOrderChange.test.ts
  apps/sports-helsinki/src/hooks/__tests__/useSportsRHHCConfig.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: sports-helsinki components Refs: LIIKUNTA-793
  apps/sports-helsinki/src/domain/search/combinedSearch/__tests__/SearchForm.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/__tests__/UnifiedSearchOrderBySelect.test.tsx
  apps/sports-helsinki/src/domain/search/searchHeader/__tests__/SearchHeader.test.tsx
  apps/sports-helsinki/src/domain/search/venueList/__tests__/VenueList.test.tsx
  apps/sports-helsinki/src/domain/venue/utils/__tests__/getVenueNodes.test.ts
  apps/sports-helsinki/src/domain/venue/venueInfo/__tests__/VenueInfo.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: events proxy placeIntegration test Refs: LIIKUNTA-793
  proxies/events-graphql-proxy/src/__tests__/placeIntegration.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: venue proxy sonar config fix Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: venue proxy pure function tests Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/src/utils/__tests__/createQueryResolver.test.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/cursorUtils.test.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/map-keys-to-camel-case.test.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/parseVenueId.test.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/utils.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: events proxy tests Refs: LIIKUNTA-793
  proxies/events-graphql-proxy/src/__tests__/neighborhoodIntegration.test.ts
  proxies/events-graphql-proxy/src/__tests__/organizationIntegration.test.ts
  proxies/events-graphql-proxy/src/schema/event/__tests__/utils.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: venue proxy test-server harness Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/src/__tests__/schemaSmoke.test.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/__tests__/enrichers.test.ts
  proxies/venue-graphql-proxy/src/resolvers/integrations/__tests__/integrations.test.ts
  proxies/venue-graphql-proxy/src/utils/testUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

chore: venue proxy reduce bloated tests Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/src/utils/__tests__/createQueryResolver.test.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/cursorUtils.test.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/map-keys-to-camel-case.test.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/parseVenueId.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: sports-ui getVenueNodes ts fixes Refs: LIIKUNTA-793
  apps/sports-helsinki/src/domain/venue/utils/__tests__/getVenueNodes.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: venue-proxy schemaSmoke test fix Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/src/__tests__/schemaSmoke.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: useScrollToSearchResultItem renderHook Refs: LIIKUNTA-793
  apps/sports-helsinki/src/domain/search/combinedSearch/hooks/__tests__/useScrollToSearchResultItem.test.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/hooks/useScrollToSearchResultItem.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: useSearchTabsWithParams renderHook Refs: LIIKUNTA-793
  apps/sports-helsinki/src/domain/search/combinedSearch/hooks/__tests__/useSearchTabsWithParams.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: filterSummary sportsCategories contain skiing Refs: LIIKUNTA-793
  apps/sports-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: useSportsRHHCConfig test teardown Refs: LIIKUNTA-793
  apps/sports-helsinki/src/hooks/__tests__/useSportsRHHCConfig.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

ci: venue proxy sonar config change Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: venue proxy test assertion Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/src/resolvers/integrations/__tests__/integrations.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: venue proxy getPointFromLongAndLat Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/src/utils/__tests__/utils.test.ts
  proxies/venue-graphql-proxy/src/utils/utils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: venue proxy testUtils types Refs: LIIKUNTA-793
  proxies/venue-graphql-proxy/src/utils/testUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-federation-router-dev.yml: any file but: *release-please*, *.md, .github, pipelines/federation-router-release.yml, pipelines/federation-router-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*
