Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*

chore: ci workflows restore app-directory
  .github/workflows/ci-events-graphql-proxy-check.yml
  .github/workflows/ci-events-helsinki-check.yml
  .github/workflows/ci-hobbies-helsinki-check.yml
  .github/workflows/ci-sports-helsinki-check.yml
  .github/workflows/ci-venue-graphql-proxy-check.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: ci workflows graphql-proxy uses main
  .github/workflows/ci-events-graphql-proxy-check.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: ci workflows graphql-proxy uses test branch
  .github/workflows/ci-events-graphql-proxy-check.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: restore ci checks PLATTA-6231 (#782)
  .github/workflows/ci-events-graphql-proxy-check.yml
  .github/workflows/ci-events-helsinki-check.yml
  .github/workflows/ci-hobbies-helsinki-check.yml
  .github/workflows/ci-monorepo-integrity.yml
  .github/workflows/ci-packages.yml
  .github/workflows/ci-sports-helsinki-check.yml
  .github/workflows/codesee-arch-diagram.yml
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/.size-limit.js
  apps/sports-helsinki/sonar-project.properties
  proxies/events-graphql-proxy/sonar-project.properties
  proxies/venue-graphql-proxy/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

build: pipeline refactor (#786)
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-events-graphql-proxy-test.yml
  azure-pipelines-harrastukset-federation-router-release.yml
  azure-pipelines-tapahtumat-federation-router-release.yml
  azure-pipelines-venue-graphql-proxy-review.yml
  azure-pipelines-venue-graphql-proxy-test.yml
  pipelines/events-graphql-proxy-dev.yml
  pipelines/events-graphql-proxy-release.yml
  pipelines/events-graphql-proxy-review.yml
  pipelines/harrastukset-federation-router-dev.yml
  pipelines/harrastukset-federation-router-release.yml
  pipelines/harrastukset-federation-router-review.yml
  pipelines/harrastukset-ui-dev.yml
  pipelines/harrastukset-ui-release.yml
  pipelines/harrastukset-ui-review.yml
  pipelines/liikunta-federation-router-dev.yml
  pipelines/liikunta-federation-router-release.yml
  pipelines/liikunta-federation-router-review.yml
  pipelines/liikunta-ui-dev.yml
  pipelines/liikunta-ui-release.yml
  pipelines/liikunta-ui-review.yml
  pipelines/tapahtumat-federation-router-dev.yml
  pipelines/tapahtumat-federation-router-release.yml
  pipelines/tapahtumat-federation-router-review.yml
  pipelines/tapahtumat-ui-dev.yml
  pipelines/tapahtumat-ui-release.yml
  pipelines/tapahtumat-ui-review.yml
  pipelines/venue-graphql-proxy-dev.yml
  pipelines/venue-graphql-proxy-release.yml
  pipelines/venue-graphql-proxy-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(events): make HOTFIX release 1.24.2-hotfix of /kasvunidea redirect
  .release-please-manifest.json
  apps/events-helsinki/package.json
  apps/events-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(search): filter event search with division
  apps/events-helsinki/config/vitest/mocks/eventListMocks.ts
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/config/vitest/mocks/eventListMocks.ts
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/config/vitest/mocks/eventListMocks.ts
  apps/sports-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/EventSearchAdapter.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/EventSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/__snapshots__/CombinedSearchProvider.test.tsx.snap
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  apps/sports-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/sports-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/domain/venue/upcomingEvents/__tests__/upcomingEventsSection.test.tsx
  packages/components/config/tests/mocks/eventListMocks.ts
  packages/components/src/components/domain/event/queryUtils.ts
  packages/components/src/components/domain/event/similarEvents/__tests__/SimilarEvents.test.tsx
  packages/components/src/constants/event-constants.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(apps): use legacyBehavior for next-links used by RCHC-lib
  apps/events-helsinki/src/hooks/useEventsRHHCConfig.tsx
  apps/hobbies-helsinki/src/hooks/useHobbiesRHHCConfig.tsx
  apps/sports-helsinki/src/hooks/useSportsRHHCConfig.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: remove x-prefix from xFullText and xOngoing event search params
  apps/sports-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/__tests__/SearchUtilities.test.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/EventSearchAdapter.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/EventSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/__snapshots__/CombinedSearchProvider.test.tsx.snap
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
  packages/components/src/components/domain/eventSearch/query.ts
  packages/components/src/components/filterButton/types.ts
  packages/components/src/constants/event-constants.ts
  packages/components/src/types/generated/graphql.tsx
  proxies/events-graphql-federation/subgraphs/events/events.graphql
  proxies/events-graphql-federation/supergraph.graphql
  proxies/events-graphql-proxy/src/schema/event/typeDefs.ts
  proxies/events-graphql-proxy/src/schema/event/utils.ts
  proxies/events-graphql-proxy/src/types/types.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

chore: ignore ResizeObserver client Sentry errors
  apps/events-helsinki/sentry.client.config.ts
  apps/hobbies-helsinki/sentry.client.config.ts
  apps/sports-helsinki/sentry.client.config.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

docs: misc updates, mermaid graphs and improved architecture
  README.md
  apps/events-helsinki/README.md
  apps/hobbies-helsinki/README.md
  apps/sports-helsinki/README.md
  packages/components/src/edge-runtime-compatible/README.md
  packages/eslint-config-bases/README.md
  proxies/events-graphql-federation/README.md
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

chore(docker): update docker-compose commands
  apps/events-helsinki/README.md
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/README.md
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/README.md
  apps/sports-helsinki/package.json
  docker-compose.events.yml
  docker-compose.hobbies.yml
  docker-compose.sports.yml
  docs/docker/docker.md
  package.json
  packages/graphql-proxy-server/README.md
  packages/graphql-proxy-server/package.json
  proxies/events-graphql-federation/README.md
  proxies/events-graphql-proxy/README.md
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/README.md
  proxies/venue-graphql-proxy/package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

chore(docker): remove deprecated version key from docker-compose files
  docker-compose.events-graphql-proxy.yml
  docker-compose.events.yml
  docker-compose.hobbies.yml
  docker-compose.sports.yml
  docker-compose.venue-graphql-proxy.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

chore(test-coverage): add vitest coverage configuration
  apps/events-helsinki/package.json
  apps/events-helsinki/sonar-project.properties
  apps/events-helsinki/vitest.config.ts
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/sonar-project.properties
  apps/hobbies-helsinki/vitest.config.ts
  apps/sports-helsinki/package.json
  apps/sports-helsinki/sonar-project.properties
  apps/sports-helsinki/vitest.config.ts
  packages/components/package.json
  packages/components/vitest.config.ts
  packages/graphql-proxy-server/package.json
  packages/graphql-proxy-server/vitest.config.ts
  proxies/events-graphql-proxy/package.json
  proxies/events-graphql-proxy/sonar-project.properties
  proxies/events-graphql-proxy/vitest.config.ts
  proxies/venue-graphql-proxy/package.json
  proxies/venue-graphql-proxy/sonar-project.properties
  proxies/venue-graphql-proxy/vitest.config.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

docs(apps): event search parameters
  README.md
  apps/events-helsinki/README.md
  apps/hobbies-helsinki/README.md
  apps/sports-helsinki/README.md
  proxies/events-graphql-federation/subgraphs/events/README.md
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

docs: add heading to TOCs and move them under main heading
  README.md
  TROUBLESHOOT.md
  apps/events-helsinki/README.md
  apps/hobbies-helsinki/README.md
  apps/sports-helsinki/README.md
  docs/about-lint-staged.md
  docs/about-linters.md
  docs/benchmark/jest-vs-vitest.md
  docs/docker/docker.md
  docs/howto/how-to.md
  packages/common-i18n/README.md
  packages/common-tests/README.md
  packages/components/README.md
  packages/components/src/assets/icons/svg/copied-from-hds/readme.md
  packages/components/src/edge-runtime-compatible/README.md
  packages/eslint-config-bases/README.md
  packages/graphql-proxy-server/README.md
  proxies/events-graphql-federation/README.md
  proxies/events-graphql-federation/subgraphs/cms/README.md
  proxies/events-graphql-federation/subgraphs/events/README.md
  proxies/events-graphql-federation/subgraphs/unified-search/README.md
  proxies/events-graphql-federation/subgraphs/venues/README.md
  proxies/events-graphql-proxy/README.md
  proxies/venue-graphql-proxy/README.md
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

docs: add app development quick start instructions
  README.md
Due: none

docs: format and rephrase headers to be consistent
  README.md
Due: none

chore: install doctoc for automated table of contents
  .husky/pre-commit
  README.md
  TROUBLESHOOT.md
  apps/events-helsinki/README.md
  apps/hobbies-helsinki/README.md
  apps/sports-helsinki/README.md
  docs/about-lint-staged.md
  docs/about-linters.md
  docs/benchmark/jest-vs-vitest.md
  docs/deploy/deploy-vercel.md
  docs/deploy/images/vercel-monorepo-cache.jpg
  docs/deploy/images/vercel-monorepo-import.jpg
  docs/deploy/images/vercel-monorepo-naming.jpg
  docs/docker/docker.md
  docs/howto/how-to.md
  package.json
  packages/common-i18n/README.md
  packages/common-tests/README.md
  packages/components/README.md
  packages/components/src/assets/icons/svg/copied-from-hds/readme.md
  packages/components/src/edge-runtime-compatible/README.md
  packages/eslint-config-bases/README.md
  packages/graphql-proxy-server/README.md
  proxies/events-graphql-federation/README.md
  proxies/events-graphql-federation/subgraphs/cms/README.md
  proxies/events-graphql-federation/subgraphs/events/README.md
  proxies/events-graphql-federation/subgraphs/unified-search/README.md
  proxies/events-graphql-federation/subgraphs/venues/README.md
  proxies/events-graphql-proxy/README.md
  proxies/venue-graphql-proxy/README.md
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

docs: add environment URLs to readme files
  README.md
  apps/events-helsinki/README.md
  apps/hobbies-helsinki/README.md
  apps/sports-helsinki/README.md
  proxies/events-graphql-federation/README.md
  proxies/events-graphql-federation/subgraphs/events/README.md
  proxies/events-graphql-federation/subgraphs/venues/README.md
  proxies/events-graphql-proxy/README.md
  proxies/venue-graphql-proxy/README.md
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

test: links no more duplicated
  apps/events-helsinki/browser-tests/search-page/search-page.testcafe.ts
  apps/hobbies-helsinki/browser-tests/search-page/search-page.testcafe.ts
  packages/common-tests/browser-tests/page-model/eventSearchPage.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

chore(test-coverage): add vitest coverage configuration
  .gitignore
  apps/events-helsinki/package.json
  apps/events-helsinki/sonar-project.properties
  apps/events-helsinki/vitest.config.ts
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/sonar-project.properties
  apps/hobbies-helsinki/vitest.config.ts
  apps/sports-helsinki/package.json
  apps/sports-helsinki/sonar-project.properties
  apps/sports-helsinki/vitest.config.ts
  packages/components/package.json
  packages/components/vitest.config.ts
  packages/graphql-proxy-server/package.json
  packages/graphql-proxy-server/vitest.config.ts
  proxies/events-graphql-proxy/package.json
  proxies/events-graphql-proxy/sonar-project.properties
  proxies/events-graphql-proxy/vitest.config.ts
  proxies/venue-graphql-proxy/package.json
  proxies/venue-graphql-proxy/sonar-project.properties
  proxies/venue-graphql-proxy/vitest.config.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml

chore(test-coverage): fix vitest coverage configuration
  apps/events-helsinki/sonar-project.properties
  apps/events-helsinki/vitest.config.ts
  apps/hobbies-helsinki/sonar-project.properties
  apps/hobbies-helsinki/vitest.config.ts
  apps/sports-helsinki/sonar-project.properties
  apps/sports-helsinki/vitest.config.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-ui-review.yml
