Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

fix: switch the Apollo error reducer to a simpler state handler
  packages/components/src/components/apolloErrorNotification/useApolloErrorHandler.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: delete the unused Apollo errors reducer
  packages/components/src/components/apolloErrorNotification/__tests__/apolloErrorsReducer.test.tsx
  packages/components/src/components/apolloErrorNotification/apolloErrorsReducer.tsx
  packages/components/src/components/index.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: update Linked Events url for test and review envs
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-events-graphql-proxy-test.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-harrastukset-test.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-liikunta-test.yml
  azure-pipelines-tapahtumat-review.yml
  azure-pipelines-tapahtumat-test.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: update venue-graphql-proxy related types and supergraph
  packages/components/src/components/domain/venue/query.ts
  packages/components/src/types/generated/graphql.tsx
  proxies/events-graphql-federation/subgraphs/venues/venues.graphql
  proxies/events-graphql-federation/supergraph.graphql
  proxies/venue-graphql-proxy/src/types/types.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: state handling of the errors reducer when no changes should occur
  packages/components/src/components/apolloErrorNotification/apolloErrorsReducer.tsx
  packages/components/src/components/apolloErrorNotification/useApolloErrorHandler.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(venue-proxy): add department data, enable Hauki support, refactor
  apps/sports-helsinki/src/domain/venue/useVenueCards.tsx
  packages/components/src/utils/typescript.utils.ts
  proxies/venue-graphql-proxy/src/config/AppConfig.ts
  proxies/venue-graphql-proxy/src/datasources/HaukiDataSource.ts
  proxies/venue-graphql-proxy/src/datasources/ServiceMapDataSource.ts
  proxies/venue-graphql-proxy/src/resolvers/Venue.ts
  proxies/venue-graphql-proxy/src/resolvers/VenueResolver.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueDepartmentEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueOntologyEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueOntologyTreeEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueOntologyWordsEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/enrichers/VenueOrganizationEnricher.ts
  proxies/venue-graphql-proxy/src/resolvers/integrations/HaukiIntegrationConfig.ts
  proxies/venue-graphql-proxy/src/resolvers/integrations/IsOpenHaukiIntegration.ts
  proxies/venue-graphql-proxy/src/resolvers/integrations/OpeningHoursHaukiIntegration.ts
  proxies/venue-graphql-proxy/src/resolvers/integrations/VenueHaukiIntegration.ts
  proxies/venue-graphql-proxy/src/resolvers/integrations/VenueResolverIntegration.ts
  proxies/venue-graphql-proxy/src/resolvers/integrations/VenueServiceMapIntegration.ts
  proxies/venue-graphql-proxy/src/resolvers/venueQueryResolver.ts
  proxies/venue-graphql-proxy/src/resolvers/venuesByIdsResolver.ts
  proxies/venue-graphql-proxy/src/schema/venue/venueSchema.ts
  proxies/venue-graphql-proxy/src/types.ts
  proxies/venue-graphql-proxy/src/types/types.ts
  proxies/venue-graphql-proxy/src/utils/__tests__/utils.test.ts
  proxies/venue-graphql-proxy/src/utils/utils.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: move the reusable Apollo error handler init to new hook
  apps/events-helsinki/src/domain/app/EventsApolloProvider.tsx
  apps/hobbies-helsinki/src/domain/app/HobbiesApolloProvider.tsx
  apps/sports-helsinki/src/domain/app/SportsApolloProvider.tsx
  packages/components/src/components/apolloErrorNotification/useApolloErrorHandler.tsx
  packages/components/src/components/index.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor(search): superEventType and superEvent params usage
  apps/events-helsinki/config/jest/mocks/eventListMocks.ts
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/config/jest/mocks/eventListMocks.ts
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/config/jest/mocks/eventListMocks.ts
  apps/sports-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/sports-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/EventSearchAdapter.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/EventSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/__snapshots__/CombinedSearchProvider.test.tsx.snap
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/domain/venue/upcomingEvents/__tests__/upcomingEventsSection.test.tsx
  packages/components/config/tests/mocks/eventListMocks.ts
  packages/components/src/components/domain/event/queryUtils.ts
  packages/components/src/components/domain/event/similarEvents/__tests__/SimilarEvents.test.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: hcrc major version
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: merge main
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: card text size
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: cards gap on mobile
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: cards gap on mobile
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: hcrc content modules and show all link for layout pages (#463)
  apps/events-helsinki/package.json
  apps/events-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: use EVENT_SEARCH_FILTERS, add type guards, name constant
  apps/events-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
  packages/common-tests/browser-tests/eventSearch/search-page.testcafe.utils.ts
  packages/components/src/constants/event-constants.ts
  packages/components/src/types/event-types.ts
  packages/components/src/types/venue-types.ts
  packages/components/src/utils/eventUtils.ts
  packages/components/src/utils/isVenueHelsinkiCityOwned.ts
  packages/graphql-proxy-server/src/utils/acceptLanguage.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: outline color of the collapse search form button in the venue map
  apps/sports-helsinki/src/domain/search/searchHeader/searchHeader.module.scss
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: css issues
  apps/sports-helsinki/package.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: css issues
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: updated snapshots
  apps/events-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/hobbies-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/sports-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: update Linked Events environment to staging and enable target group filter
  apps/sports-helsinki/src/domain/app/AppConfig.ts
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-harrastukset-federation-router-review.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-tapahtumat-federation-router-review.yml
  azure-pipelines-tapahtumat-review.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: hcrc css issues (#475)
  apps/events-helsinki/package.json
  apps/events-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

build: cache image uses node20 as normal image
  DockerfileCache
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

fix: error toast init value
  packages/components/src/components/apolloErrorNotification/useApolloErrorHandler.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

build: fix rsync issue on cache build
  DockerfileCache
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

build: cache image uses node20 as normal image (#477)
  DockerfileCache
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

fix(sports): fix clearing filter summary i.e. filters under search bar
  apps/sports-helsinki/src/domain/app/appConstants.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/CombinedSearchFormAdapter.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/CombinedSearchProvider.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  apps/sports-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  packages/components/src/constants/venue-constants.ts
  packages/components/src/utils/typescript.utils.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(sports): change appName to "Helsinki Liikkuu" / "Idrott och motion"
  packages/common-i18n/src/locales/fi/appSports.json
  packages/common-i18n/src/locales/sv/appSports.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

build: disable source maps in prod package
  azure-pipelines-harrastukset-federation-router-release.yml
  azure-pipelines-liikunta-federation-router-release.yml
  azure-pipelines-tapahtumat-federation-router-release.yml
  next.base.config.js
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

refactor: rename a misnamed Venue page component
  apps/sports-helsinki/src/pages/venues/[venueId]/index.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: id-param handling in SSG-generation-process
  apps/sports-helsinki/src/domain/venue/VenuePageContainer.tsx
  apps/sports-helsinki/src/pages/courses/[eventId]/index.tsx
  apps/sports-helsinki/src/pages/venues/[venueId]/index.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

Path conditions:
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
