Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

chore: proxy review pipeline arguments
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-venue-graphql-proxy-review.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

chore: update linked events urls
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-events-graphql-proxy-test.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-harrastukset-test.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-liikunta-test.yml
  azure-pipelines-tapahtumat-review.yml
  azure-pipelines-tapahtumat-test.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

build: remove temporaly ref from proxy review pipelines
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-venue-graphql-proxy-review.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

chore: update linked events url to use dev env
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-harrastukset-federation-router-review.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-tapahtumat-federation-router-review.yml
  azure-pipelines-tapahtumat-review.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: configure graphql proxies dev-server start command
  proxies/events-graphql-proxy/package.json
  proxies/events-graphql-proxy/tsconfig.json
  proxies/venue-graphql-proxy/package.json
  proxies/venue-graphql-proxy/tsconfig.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

feat: false structured events can be ignored by using http-headers
  packages/graphql-proxy-server/src/constants.ts
  packages/graphql-proxy-server/src/context/ContextValue.ts
  packages/graphql-proxy-server/src/enums.ts
  packages/graphql-proxy-server/src/error/IgnorableGraphQLError.ts
  packages/graphql-proxy-server/src/index.ts
  packages/graphql-proxy-server/src/server-config/server-config.ts
  packages/graphql-proxy-server/src/server.ts
  packages/graphql-proxy-server/src/types.ts
  proxies/events-graphql-proxy/src/index.ts
  proxies/events-graphql-proxy/src/schema/event/constants.ts
  proxies/events-graphql-proxy/src/schema/event/resolvers.ts
  proxies/events-graphql-proxy/src/schema/event/utils.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: use custom X-Ignored-Error-Code header with event list queries
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/hooks/useSearchPage.tsx
  packages/components/src/components/domain/event/queryUtils.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(router): propagate all headers to events-proxy
  proxies/events-graphql-federation/router.yaml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

test: the mandatory event fields should always be mocked
  proxies/events-graphql-proxy/src/schema/event/utils.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

refactor: configure the apollo federation context headers in app config
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/events-helsinki/src/domain/clients/eventsApolloClient.ts
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/clients/hobbiesApolloClient.ts
  apps/sports-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/src/domain/clients/sportsApolloClient.ts
  packages/components/src/apollo/EventsFederationApolloClient.ts
  packages/components/src/apollo/constants.ts
  packages/components/src/apollo/index.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

docs: readme related to the headers usage to ignore error codes
  proxies/events-graphql-federation/README.md
  proxies/events-graphql-proxy/README.md
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

feat: use custom X-Ignored-Error-Code header with Apollo queries
  packages/components/src/apollo/EventsFederationApolloClient.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

docs: add missing dev-mode to readme
  apps/events-helsinki/README.md
  apps/sports-helsinki/README.md
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: configure the apollo federation context headers in app config
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/src/domain/app/AppConfig.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

build: stage build arguments
  azure-pipelines-harrastukset-release.yml
  azure-pipelines-liikunta-release.yml
  azure-pipelines-tapahtumat-release.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

fix: focus outline on links of the CMS content
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore(askem): add missing env variables to example file
  apps/events-helsinki/.env.local.example
  apps/hobbies-helsinki/.env.local.example
  apps/sports-helsinki/.env.local.example
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: move Askem's cookies required -section into a new reusable component
  packages/common-i18n/src/locales/en/consent.json
  packages/common-i18n/src/locales/fi/consent.json
  packages/common-i18n/src/locales/sv/consent.json
  packages/components/src/components/askem/AskemFeedbackContainer.tsx
  packages/components/src/components/askem/askem.module.scss
  packages/components/src/components/cookieConsent/CookiesRequired.tsx
  packages/components/src/components/cookieConsent/cookiesRequired.module.scss
  packages/components/src/components/domain/event/eventLocation/EventLocation.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: cookie consent texts and button to map views when consent not given
  apps/sports-helsinki/src/domain/venue/venueLocation/VenueLocation.tsx
  packages/common-i18n/src/locales/en/common.json
  packages/common-i18n/src/locales/fi/common.json
  packages/common-i18n/src/locales/sv/common.json
  packages/components/src/components/domain/event/eventLocation/EventLocation.tsx
  packages/components/src/components/mapBox/MapBox.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor(search): superEventType and superEvent params usage
  apps/events-helsinki/config/jest/mocks/eventListMocks.ts
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/config/jest/mocks/eventListMocks.ts
  apps/hobbies-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/config/jest/mocks/eventListMocks.ts
  apps/sports-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/sports-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/EventSearchAdapter.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/CombinedSearchFormAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/EventSearchAdapter.test.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/__tests__/__snapshots__/CombinedSearchProvider.test.tsx.snap
  apps/sports-helsinki/src/domain/search/combinedSearch/constants.ts
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/domain/venue/upcomingEvents/__tests__/upcomingEventsSection.test.tsx
  packages/components/config/tests/mocks/eventListMocks.ts
  packages/components/src/components/domain/event/queryUtils.ts
  packages/components/src/components/domain/event/similarEvents/__tests__/SimilarEvents.test.tsx
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: content modules update
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: content modules update
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: showall to pages
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: lock file
  yarn.lock
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: updated snapshots
  apps/events-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/hobbies-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
  apps/sports-helsinki/src/common-events/components/category/__tests__/__snapshots__/CategoryFilter.test.tsx.snap
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: update Linked Events dev env DNS name
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-tapahtumat-review.yml
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: move the reusable Apollo error handler init to new hook
  apps/events-helsinki/src/domain/app/EventsApolloProvider.tsx
  apps/hobbies-helsinki/src/domain/app/HobbiesApolloProvider.tsx
  apps/sports-helsinki/src/domain/app/SportsApolloProvider.tsx
  packages/components/src/components/apolloErrorNotification/useApolloErrorHandler.tsx
  packages/components/src/components/index.ts
Due: azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

Path conditions:
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
