Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*

chore: fix `deps:check` and `deps:update` configuration
  package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: events proxy variables
  .github/workflows/ci-events-graphql-proxy-check.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: ci integrity node version
  .github/workflows/ci-events-graphql-proxy-check.yml
  .github/workflows/ci-monorepo-integrity.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: sports CSS size limit
  apps/sports-helsinki/.size-limit.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: ci apps skip static generation
  .github/workflows/ci-events-helsinki-check.yml
  .github/workflows/ci-hobbies-helsinki-check.yml
  .github/workflows/ci-sports-helsinki-check.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(packages): import RouterContext for Storybook from new Next lib
  packages/components/.storybook/preview.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps(packages): added graphql-tag to components package
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(packages): circular imports
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/hooks/useGeolocation.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps: upgraded Next to v14 and React to latest v18
  apps/events-helsinki/config/jest/TestProviders.tsx
  apps/events-helsinki/next-env.d.ts
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/config/jest/TestProviders.tsx
  apps/hobbies-helsinki/next-env.d.ts
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/config/jest/TestProviders.tsx
  apps/sports-helsinki/next-env.d.ts
  apps/sports-helsinki/package.json
  commitlint.config.js
  next.base.config.js
  package.json
  packages/common-i18n/package.json
  packages/common-tests/package.json
  packages/components/config/tests/app-test-providers.tsx
  packages/components/package.json
  packages/components/src/components/navigation/useGetIsItemActive.tsx
  packages/eslint-config-bases/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(packages): import issues in SCSS files
  packages/components/src/components/domain/breadcrumb/breadcrumb.module.scss
  packages/components/src/styles/icons.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps: upgrade sass and add it as dependency in components package
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: workflow template from main branch
  .github/workflows/ci-events-graphql-proxy-check.yml
  .github/workflows/ci-events-helsinki-check.yml
  .github/workflows/ci-hobbies-helsinki-check.yml
  .github/workflows/ci-sports-helsinki-check.yml
  .github/workflows/ci-venue-graphql-proxy-check.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps: dependency management (by recategorisation and sorting)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  package.json
  packages/common-i18n/package.json
  packages/common-tests/package.json
  packages/components/package.json
  packages/eslint-config-bases/package.json
  packages/graphql-proxy-server/package.json
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: type of apollo clients' error handler
  apps/events-helsinki/src/domain/clients/eventsApolloClient.ts
  apps/hobbies-helsinki/src/domain/clients/hobbiesApolloClient.ts
  apps/sports-helsinki/src/domain/clients/sportsApolloClient.ts
  packages/components/src/components/apolloErrorNotification/apolloErrorsReducer.tsx
  packages/components/src/components/apolloErrorNotification/useApolloErrorHandler.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

refactor: date-fns esm-imports
  apps/hobbies-helsinki/src/domain/clients/hobbiesApolloClient.ts
  packages/components/src/apollo/EventsFederationApolloClient.ts
  packages/components/src/components/dateRangePicker/DateRangePicker.tsx
  packages/components/src/components/domain/venue/utils/getVenueOpeningTimeDescription.ts
  packages/components/src/utils/dateUtils.ts
  packages/components/src/utils/headless-cms/HeadlessCMSHelper.tsx
  packages/components/src/utils/season/__tests__/getCurrentSeason.test.js
  packages/components/src/utils/season/getCurrentSeason.ts
  packages/components/src/utils/time/humanizeOpeningHoursForWeek.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps(events-proxy): move apollo/server to production deps
  proxies/events-graphql-proxy/package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps: upgraded development minor depencencies
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  package.json
  packages/common-i18n/package.json
  packages/common-tests/package.json
  packages/components/package.json
  packages/eslint-config-bases/package.json
  packages/graphql-proxy-server/package.json
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps: upgraded development minor depencencies
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
  package.json
  packages/common-i18n/package.json
  packages/common-tests/package.json
  packages/components/package.json
  packages/eslint-config-bases/package.json
  packages/graphql-proxy-server/package.json
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

style(packages): fix linter issues in components
  packages/components/src/apollo/EventsFederationApolloClient.ts
  packages/components/src/components/dateRangePicker/DateRangePicker.tsx
  packages/components/src/utils/dateUtils.ts
  packages/components/src/utils/headless-cms/HeadlessCMSHelper.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP chore: upgraded all dev packages except node and react
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  package.json
  packages/common-i18n/package.json
  packages/common-tests/package.json
  packages/components/package.json
  packages/eslint-config-bases/package.json
  packages/graphql-proxy-server/package.json
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

WIP fix: eslint configuration
  apps/events-helsinki/eslint.config.js
  apps/hobbies-helsinki/eslint.config.js
  apps/sports-helsinki/eslint.config.js
  packages/common-i18n/eslint.config.cjs
  packages/common-tests/eslint.config.cjs
  packages/components/eslint.config.js
  packages/eslint-config-bases/eslint.config.js
  packages/eslint-config-bases/package.json
  packages/graphql-proxy-server/eslint.config.js
  proxies/events-graphql-proxy/eslint.config.js
  proxies/venue-graphql-proxy/eslint.config.js
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps: sync versions
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build(packages): remove rollup option from packages/components
  packages/components/package.json
  packages/components/rollup.config.js
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Set review database variables by Ansible scripts
  pipelines/harrastukset-ui-dev.yml
  pipelines/harrastukset-ui-release.yml
  pipelines/harrastukset-ui-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Set review database variables by Ansible scripts
  pipelines/federation-router-dev.yml
  pipelines/federation-router-release.yml
  pipelines/federation-router-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: rename harrastukset federation router pipelines
  pipelines/harrastukset-federation-router-dev.yml
  pipelines/harrastukset-federation-router-release.yml
  pipelines/harrastukset-federation-router-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Set review database variables by Ansible scripts
  pipelines/tapahtumat-ui-dev.yml
  pipelines/tapahtumat-ui-release.yml
  pipelines/tapahtumat-ui-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: rename tapahtumat federation router pipelines
  pipelines/tapahtumat-federation-router-dev.yml
  pipelines/tapahtumat-federation-router-release.yml
  pipelines/tapahtumat-federation-router-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml
