Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

fix: content modules fixes hcrc
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: depup
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

build: exclude build dirs in JetBrains IntelliJ IDE project file
  events-helsinki-monorepo.iml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

fix: outline color of the collapse search form button in the venue map
  apps/sports-helsinki/src/domain/search/searchHeader/searchHeader.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

build: disable source maps in prod package
  azure-pipelines-harrastukset-federation-router-release.yml
  azure-pipelines-liikunta-federation-router-release.yml
  azure-pipelines-tapahtumat-federation-router-release.yml
  next.base.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

fix: id-param handling in SSG-generation-process
  apps/sports-helsinki/src/domain/venue/VenuePageContainer.tsx
  apps/sports-helsinki/src/pages/courses/[eventId]/index.tsx
  apps/sports-helsinki/src/pages/venues/[venueId]/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

refactor: rename a misnamed Venue page component
  apps/sports-helsinki/src/pages/venues/[venueId]/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: dummy commit with a clean up update
  apps/sports-helsinki/src/domain/app/AppConfig.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: background colors for cards
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: style fix
  apps/sports-helsinki/src/domain/app/AppConfig.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: test cookie domain
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: tweaks to cards
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: side bar bug fix
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: content modules fixes hcrc (#481)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: card delimited url redirect
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: sidebar removed right margin
  apps/sports-helsinki/src/domain/venue/venueInfo/venueInfo.module.scss
  packages/components/src/components/domain/event/eventInfo/eventInfo.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(sports): hide empty service owner info section in venue detail page
  apps/sports-helsinki/src/domain/venue/venueInfo/VenueInfo.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: card delimited url redirect (#485)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/venue/venueInfo/venueInfo.module.scss
  packages/components/package.json
  packages/components/src/components/domain/event/eventInfo/eventInfo.module.scss
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(sports): show highlights in venue detail page above the description
  apps/sports-helsinki/src/domain/venue/venueContent/VenueContent.tsx
  apps/sports-helsinki/src/domain/venue/venueContent/__tests__/VenueContent.test.tsx
  apps/sports-helsinki/src/domain/venue/venueHighlights/VenueHighlights.tsx
  apps/sports-helsinki/src/domain/venue/venueHighlights/venueHighlights.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(sports): show venue's short description in venue detail page
  apps/sports-helsinki/src/domain/venue/venueContent/VenueContent.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(cookies): set cookie domain to hostname i.e. <application>.hel.fi
  apps/events-helsinki/src/domain/app/AppConfig.ts
  apps/events-helsinki/src/domain/app/__tests__/AppConfig.test.tsx
  apps/events-helsinki/src/pages/_app.tsx
  apps/events-helsinki/src/pages/cookie-consent/index.tsx
  apps/hobbies-helsinki/src/domain/app/AppConfig.ts
  apps/hobbies-helsinki/src/domain/app/__tests__/AppConfig.test.tsx
  apps/hobbies-helsinki/src/pages/_app.tsx
  apps/hobbies-helsinki/src/pages/cookie-consent/index.tsx
  apps/sports-helsinki/src/domain/app/AppConfig.ts
  apps/sports-helsinki/src/domain/app/__tests__/AppConfig.test.tsx
  apps/sports-helsinki/src/pages/_app.tsx
  apps/sports-helsinki/src/pages/cookie-consent/index.tsx
  packages/components/src/app/BaseApp.tsx
  packages/components/src/components/eventsCookieConsent/EventsCookieConsent.tsx
  packages/components/src/components/mapBox/MapBox.tsx
  packages/components/src/components/matomoWrapper/MatomoWrapper.tsx
  packages/components/src/cookieConfigurationProvider/CookieConfigurationContext.tsx
  packages/components/src/cookieConfigurationProvider/CookieConfigurationProvider.tsx
  packages/components/src/cookieConfigurationProvider/index.ts
  packages/components/src/cookieConfigurationProvider/useCookieConfigurationContext.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: fix table styles by using HCRC v1.0.0-alpha217
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: cards dates and age tweaks
  packages/common-i18n/src/locales/en/event.json
  packages/components/src/utils/eventUtils.ts
  packages/components/src/utils/getDateRangeStr.ts
  packages/components/src/utils/headless-cms/HeadlessCMSHelper.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: artciles page meta
  apps/events-helsinki/package.json
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix(wip): fix table styles by using HCRC v1.0.0-alpha218-canary-f097a3e
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: keep Helsinki city owned icon on same row as the preceding text
  apps/sports-helsinki/src/domain/venue/venueCard/LargeVenueCard.tsx
  apps/sports-helsinki/src/domain/venue/venueHero/VenueHero.tsx
  apps/sports-helsinki/src/domain/venue/venueInfo/VenueInfo.tsx
  packages/components/src/components/domain/event/eventInfo/OrganizationInfo.tsx
  packages/components/src/components/eventName/EventName.tsx
  packages/components/src/components/helsinkiCityOwnedIcon/HelsinkiCityOwnedIcon.tsx
  packages/components/src/components/helsinkiCityOwnedIcon/helsinkiCityOwnedIcon.module.scss
  packages/components/src/components/index.ts
  packages/components/src/styles/helsinkiCityOwned.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: fix HDS table paddings by using HCRC v1.0.0-alpha218
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: route page meta
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/event/EventPageContainer.tsx
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/events-helsinki/src/pages/cookie-consent/index.tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/domain/event/EventPageContainer.tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/src/pages/cookie-consent/index.tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/event/EventPageContainer.tsx
  apps/sports-helsinki/src/domain/venue/VenuePageContainer.tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/src/pages/cookie-consent/index.tsx
  apps/sports-helsinki/src/pages/index.tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  packages/components/package.json
  packages/components/src/components/domain/seo/meta/PageMeta.tsx
  packages/components/src/components/domain/seo/meta/RouteMeta.tsx
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: articles and search page meta (#502)
  apps/events-helsinki/package.json
  apps/events-helsinki/src/domain/event/EventPageContainer.tsx
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/events-helsinki/src/pages/cookie-consent/index.tsx
  apps/events-helsinki/src/pages/index.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/domain/event/EventPageContainer.tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/src/pages/cookie-consent/index.tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/domain/event/EventPageContainer.tsx
  apps/sports-helsinki/src/domain/venue/VenuePageContainer.tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/articles/index.tsx
  apps/sports-helsinki/src/pages/cookie-consent/index.tsx
  apps/sports-helsinki/src/pages/index.tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  packages/components/package.json
  packages/components/src/components/domain/seo/meta/PageMeta.tsx
  packages/components/src/components/domain/seo/meta/RouteMeta.tsx
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: cards dates and age tweaks (#501)
  packages/common-i18n/src/locales/en/event.json
  packages/components/src/utils/eventUtils.ts
  packages/components/src/utils/getDateRangeStr.ts
  packages/components/src/utils/headless-cms/HeadlessCMSHelper.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: search page meta tags
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/domain/search/venueSearch/SearchPage.tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  packages/components/src/components/domain/seo/meta/PageMeta.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: removed unused props
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/SearchPage.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
