Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
  pipelines/liikunta-ui-dev.yml: any file but: *release-please*, *.md, .github, pipelines/liikunta-ui-release.yml, pipelines/liikunta-ui-review.yml, *compose*
  pipelines/tapahtumat-federation-router-dev.yml: any file but: *release-please*, *.md, .github, pipelines/federation-router-release.yml, pipelines/federation-router-review.yml, *compose*
  pipelines/tapahtumat-ui-review.yml: any file but: *release-please*, *.md, .github, pipelines/tapahtumat-ui-release.yml, pipelines/tapahtumat-ui-dev.yml, *compose*

refactor: move venue hero back arrow to it's own component
  apps/sports-helsinki/src/domain/venue/venueHero/VenueHero.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: show in-app back arrow when referrer is not external origin
  apps/sports-helsinki/src/domain/venue/venueHero/VenueHero.tsx
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/hooks/index.ts
  packages/components/src/hooks/useShouldShowAppBackArrow.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: useShouldShowAppBackArrow checks referrer and full page load
  packages/components/src/hooks/useShouldShowAppBackArrow.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: use course tab in show all -link of upcoming events carousel
  apps/sports-helsinki/src/domain/venue/upcomingEvents/UpcomingEventsSection.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test: useShouldShowAppBackArrow
  packages/components/src/hooks/__tests__/useShouldShowAppBackArrow.test.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: scss breakpoints were used wrongly
  apps/events-helsinki/src/domain/error/errorHero.module.scss
  apps/events-helsinki/src/domain/search/eventSearch/searchResultList/searchResultList.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(hobbies): add end/last modified/start time sorting to search
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/SearchResultsContainer.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/searchResultList/searchResultList.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: add "relevance" to event and course search ordering options
  packages/components/src/components/orderBySelect/EventsOrderBySelect.tsx
  packages/components/src/constants/event-constants.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix: remember event search sort ordering value on new search
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: add "relevance" to event and course search ordering options
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/adapters/EventSearchAdapter.ts
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
  packages/components/src/components/orderBySelect/EventsOrderBySelect.tsx
  packages/components/src/constants/event-constants.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat: remove redundant last modified time -option for events sorting
  packages/common-i18n/src/locales/en/search.json
  packages/common-i18n/src/locales/fi/search.json
  packages/common-i18n/src/locales/sv/search.json
  packages/components/src/components/orderBySelect/EventsOrderBySelect.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

chore: upgrade HCRC-lib for new CMS tools
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(sports): search page fetches page heading and descriptions from CMS
  apps/sports-helsinki/src/domain/search/combinedSearch/CombinedSearchPage.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/SearchForm.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/SearchUtilities.tsx
  apps/sports-helsinki/src/domain/search/combinedSearch/combinedSearchPage.module.scss
  apps/sports-helsinki/src/domain/search/combinedSearch/search.module.scss
  apps/sports-helsinki/src/domain/search/combinedSearch/types.ts
  apps/sports-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/searchResultList/SearchResultsContainer.tsx
  apps/sports-helsinki/src/domain/search/venueSearch/SearchPage.tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  packages/common-i18n/src/locales/en/appSports.json
  packages/common-i18n/src/locales/en/search.json
  packages/common-i18n/src/locales/fi/appSports.json
  packages/common-i18n/src/locales/fi/search.json
  packages/common-i18n/src/locales/sv/appSports.json
  packages/common-i18n/src/locales/sv/search.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

style(sports): set show on map button below search type selector
  apps/sports-helsinki/src/domain/search/combinedSearch/combinedSearchPage.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(hobbies): landing page fetches title and description from CMS
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/landingPageSearch.module.scss
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(sports): landing page fetches title and description from CMS
  apps/sports-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
  apps/sports-helsinki/src/domain/search/landingPageSearch/landingPageSearch.module.scss
  apps/sports-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(events): search page fetches page heading and descriptions from CMS
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearch.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/events-helsinki/src/pages/search/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: move CmsPageContent -component to shared package-components
  apps/sports-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/landingPage/CmsPageContent.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(hobbies): search page fetches page heading and descriptions from CMS
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearch.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

fix(sports): map search view page title and page context
  apps/sports-helsinki/src/domain/search/venueSearch/VenueMapSearch.tsx
  apps/sports-helsinki/src/pages/search/map.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(events): landing page fetches title and description from CMS
  apps/events-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/LandingPageSearchForm.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/landingPageSearch.module.scss
  apps/events-helsinki/src/domain/search/landingPageSearch/landingPageSearchForm.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test: browser test for search cannot test dynamic title
  packages/common-tests/browser-tests/page-model/eventSearchPage.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

test: fix landing page browser test
  packages/common-tests/browser-tests/page-model/landingPage.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

feat(sports): hide landing page shortcuts on small screen
  apps/sports-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml

refactor: move event hero back arrow to it's own component
  packages/components/src/components/eventHero/EventHero.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml, pipelines/liikunta-ui-dev.yml, pipelines/tapahtumat-federation-router-dev.yml, pipelines/tapahtumat-ui-review.yml
