Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

fix: improved logic of registration url (#571)
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/components/eventHero/__tests__/EventHero.test.tsx
  packages/components/src/utils/eventUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: artciles search hide load more (#570)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  packages/components/src/components/mapBox/mapBox.module.scss
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat: force showing of target group filter, DO NOT MERGE AS IS!
  apps/sports-helsinki/src/domain/app/AppConfig.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: upgrade packages, e.g. HDS v3.2, HCRC 1.0.0-alpha239
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  package.json
  packages/common-i18n/package.json
  packages/common-tests/package.json
  packages/components/package.json
  packages/eslint-config-bases/package.json
  packages/graphql-proxy-server/package.json
  proxies/events-graphql-proxy/package.json
  proxies/venue-graphql-proxy/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: blue icon colors to black ios
  apps/sports-helsinki/src/domain/venue/venueHero/venueHero.module.scss
  packages/components/src/geolocation/GeolocationErrorNotification.tsx
  packages/components/src/geolocation/geolocation.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: blue icon colors to black ios (#573)
  apps/sports-helsinki/src/domain/venue/venueHero/venueHero.module.scss
  packages/components/src/geolocation/GeolocationErrorNotification.tsx
  packages/components/src/geolocation/geolocation.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix(navigation): fix retaining URL search parameters on language change
  packages/components/src/components/navigation/Navigation.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: dummy
  azure-pipelines-events-graphql-proxy-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

fix(navigation): fix replacing [eventId] in URL when changing languages
  packages/components/src/components/navigation/Navigation.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(apps): configure sentry in use
  Dockerfile
  apps/events-helsinki/.env.local.example
  apps/events-helsinki/package.json
  apps/events-helsinki/sentry.client.config.ts
  apps/events-helsinki/sentry.edge.config.ts
  apps/hobbies-helsinki/.env.local.example
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/sentry.client.config.ts
  apps/hobbies-helsinki/sentry.edge.config.ts
  apps/hobbies-helsinki/sentry.server.config.ts
  apps/sports-helsinki/.env.local.example
  apps/sports-helsinki/package.json
  apps/sports-helsinki/sentry.client.config.ts
  apps/sports-helsinki/sentry.edge.config.ts
  apps/sports-helsinki/sentry.server.config.ts
  azure-pipelines-harrastukset-release.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-harrastukset-test.yml
  azure-pipelines-liikunta-release.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-liikunta-test.yml
  azure-pipelines-tapahtumat-release.yml
  azure-pipelines-tapahtumat-review.yml
  azure-pipelines-tapahtumat-test.yml
  docker-compose.events.yml
  docker-compose.hobbies.yml
  docker-compose.sports.yml
  package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(proxy): configure sentry in use
  packages/graphql-proxy-server/package.json
  packages/graphql-proxy-server/src/plugins/sentryLoggingPlugin.ts
  packages/graphql-proxy-server/src/server-config/server-config.ts
  proxies/events-graphql-proxy/.env.example
  proxies/events-graphql-proxy/package.json
  proxies/events-graphql-proxy/src/index.ts
  proxies/venue-graphql-proxy/.env.example
  proxies/venue-graphql-proxy/src/index.ts
  proxy.Dockerfile
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: hcrc apollo tests improvements
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: hcrc apollo tests improvements (#578)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(sports): clickable tags in venue details page triggers search on click
  apps/sports-helsinki/src/domain/venue/venueKeywords/VenueKeywords.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

feat(sports): clickable tags in event or course details page triggers search on click
  apps/sports-helsinki/src/domain/event/EventPageContainer.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/sports-helsinki/src/domain/search/eventSearch/utils.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: archive search page search button styles
  apps/events-helsinki/package.json
  apps/events-helsinki/src/styles/globals.scss
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/styles/globals.scss
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/styles/globals.scss
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: keep search type param when removing filter
  apps/sports-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: order of the show on map on mobile
  apps/sports-helsinki/src/domain/search/combinedSearch/combinedSearchPage.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: archive search page search button styles (#582)
  apps/events-helsinki/package.json
  apps/events-helsinki/src/styles/globals.scss
  apps/hobbies-helsinki/package.json
  apps/hobbies-helsinki/src/styles/globals.scss
  apps/sports-helsinki/package.json
  apps/sports-helsinki/src/styles/globals.scss
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: keep search type param when removing filter (#583)
  apps/sports-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: order of the show on map on mobile (#584)
  apps/sports-helsinki/src/domain/search/combinedSearch/combinedSearchPage.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: event card tags should not be focusable
  packages/components/src/components/eventCard/EventCard.tsx
  packages/components/src/components/eventCard/LargeEventCard.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

fix: upgrade the HCRC-lib to fix unique tag ids
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore(router): upgrade the Apollo router docker image
  proxies/events-graphql-federation/Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml

fix: application name on cookie-consent page
  apps/events-helsinki/src/pages/cookie-consent/index.tsx
  apps/hobbies-helsinki/src/pages/cookie-consent/index.tsx
  apps/sports-helsinki/src/pages/cookie-consent/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: dummy
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-liikunta-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: dummy
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-harrastukset-federation-router-review.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-tapahtumat-federation-router-review.yml
  azure-pipelines-tapahtumat-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

chore: dummy
  azure-pipelines-harrastukset-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml

refactor: update the HCRC-lib to the latest stable version
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
