Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*

fix: cards fix (#747)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: skem dynamic loading fix (#748)
  packages/components/src/components/footer/Footer.tsx
  packages/components/src/components/index.ts
  packages/components/src/components/widgets/UserTrackingFeatures.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: hds 3.11 upgrade
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  package.json
  packages/components/package.json
  static/assets/styles/critical-hds-styles.css
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: landing page meta
  apps/events-helsinki/src/pages/index.tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/index.tsx
  apps/sports-helsinki/src/pages/index.tsx
  packages/components/src/components/domain/seo/meta/PageMeta.tsx
  packages/components/src/components/eventList/eventList.module.scss
  packages/components/src/components/footer/Footer.tsx
  packages/components/src/components/widgets/UserTrackingFeatures.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

ci(docker): add a missing build argument for enrolment status in card
  Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: hero image size
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: hcrc v1 major release
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: remove back button
  apps/sports-helsinki/src/domain/venue/venueHero/VenueHero.tsx
  packages/components/src/components/eventHero/EventHero.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: add new campaign redirect routes to events & sports apps
  apps/events-helsinki/next.config.js
  apps/events-helsinki/redirectCampaignRoutes.config.js
  apps/events-helsinki/redirectNonCampaignRoutes.config.js
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/redirectCampaignRoutes.config.js
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: add "/ekoviikko" campaign URL
  apps/events-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: simplify & add FIXME to middleware's isPublicFile function
  apps/events-helsinki/src/middleware.ts
  apps/hobbies-helsinki/src/middleware.ts
  apps/sports-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(events): add /merellinenhelsinki campaign redirect to tapahtumat
  apps/events-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: add campaign URL for Koffarin-Kinofest
  apps/events-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: hero image quality
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(events-proxy): add experimental event search params
  proxies/events-graphql-proxy/src/schema/event/typeDefs.ts
  proxies/events-graphql-proxy/src/schema/event/utils.ts
  proxies/events-graphql-proxy/src/types/types.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(apollo-router): update events schema for exp search fields
  proxies/events-graphql-federation/subgraphs/events/events.graphql
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(apollo-router): compose a new supergraph
  proxies/events-graphql-federation/supergraph.graphql
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore(apollo-router): update CMS schema
  proxies/events-graphql-federation/subgraphs/cms/cms.graphql
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(packages): update schema with exp search params
  packages/components/src/components/domain/eventSearch/query.ts
  packages/components/src/types/generated/graphql.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(packages): change search text-parameter
  packages/components/src/components/filterButton/types.ts
  packages/components/src/components/filters/TextFilter.tsx
  packages/components/src/components/filters/__tests__/TextFilter.test.tsx
  packages/components/src/constants/event-constants.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(hobbies): use experimental xFullText search parameter
  apps/hobbies-helsinki/config/jest/mockDataUtils.ts
  apps/hobbies-helsinki/config/jest/mocks/eventListMocks.ts
  apps/hobbies-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/AdvancedSearch.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/Search.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/types.ts
  apps/hobbies-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
  apps/hobbies-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

refactor(hobbies): advanced search form as compound component
  apps/hobbies-helsinki/src/domain/search/eventSearch/AdvancedSearch.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearch.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/__tests__/Search.test.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/useGoToSearch.tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(hobbies): use shallow transitions on search for squared UX
  apps/hobbies-helsinki/src/domain/search/eventSearch/advancedSearch/useGoToSearch.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(events): use experimental xFullText search parameter
  apps/events-helsinki/config/jest/mocks/eventListMocks.ts
  apps/events-helsinki/src/domain/event/__tests__/EventPageContainer.test.tsx
  apps/events-helsinki/src/domain/event/useSimilarEventsQueryVariables.tsx
  apps/events-helsinki/src/domain/search/eventSearch/AdvancedSearch.tsx
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/Search.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/__tests__/utils.test.ts
  apps/events-helsinki/src/domain/search/eventSearch/constants.tsx
  apps/events-helsinki/src/domain/search/eventSearch/filterSummary/FilterSummary.tsx
  apps/events-helsinki/src/domain/search/eventSearch/filterSummary/__tests__/FilterSummary.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/types.ts
  apps/events-helsinki/src/domain/search/eventSearch/utils.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/LandingPageSearch.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/SearchShortcuts.tsx
  apps/events-helsinki/src/domain/search/landingPageSearch/__tests__/LandingPageSearch.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

refactor(events): advanced search form as compound component
  apps/events-helsinki/src/domain/search/eventSearch/AdvancedSearch.tsx
  apps/events-helsinki/src/domain/search/eventSearch/SearchPage.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearch.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchContext.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/AdvancedSearchForm.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/__tests__/Search.test.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/search.module.scss
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/useAdvancedSearchFormState.tsx
  apps/events-helsinki/src/domain/search/eventSearch/advancedSearch/useGoToSearch.tsx
  apps/events-helsinki/src/pages/search/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml
