Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*

fix: image tag
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/pages/search/map.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: image tag (#687)
  apps/events-helsinki/src/pages/articles/[...slug].tsx
  apps/events-helsinki/src/pages/articles/index.tsx
  apps/events-helsinki/src/pages/pages/[...slug].tsx
  apps/events-helsinki/src/pages/search/index.tsx
  apps/hobbies-helsinki/src/pages/articles/[...slug].tsx
  apps/hobbies-helsinki/src/pages/articles/index.tsx
  apps/hobbies-helsinki/src/pages/pages/[...slug].tsx
  apps/hobbies-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/pages/articles/[...slug].tsx
  apps/sports-helsinki/src/pages/pages/[...slug].tsx
  apps/sports-helsinki/src/pages/search/index.tsx
  apps/sports-helsinki/src/pages/search/map.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: add courses as guided exercise
  apps/sports-helsinki/src/domain/search/eventSearch/constants.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: add courses as guided exercise (#688)
  apps/sports-helsinki/src/domain/search/eventSearch/constants.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: missing translations and load more logic
  apps/sports-helsinki/src/pages/articles/index.tsx
  packages/common-i18n/src/locales/en/cms.json
  packages/common-i18n/src/locales/fi/cms.json
  packages/common-i18n/src/locales/sv/cms.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: refactoring
  apps/sports-helsinki/src/pages/articles/index.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: missing translations and load more logic (#689)
  apps/sports-helsinki/src/pages/articles/index.tsx
  packages/common-i18n/src/locales/en/cms.json
  packages/common-i18n/src/locales/fi/cms.json
  packages/common-i18n/src/locales/sv/cms.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: show neighborhood, not district in Linked Events location info
  apps/events-helsinki/src/domain/event/eventDetails/EventDetails.tsx
  apps/hobbies-helsinki/src/domain/event/eventDetails/EventDetails.tsx
  apps/sports-helsinki/src/domain/event/eventDetails/EventDetails.tsx
  packages/common-i18n/src/locales/en/search.json
  packages/common-i18n/src/locales/fi/search.json
  packages/common-i18n/src/locales/sv/search.json
  packages/components/src/components/domain/event/eventContent/__tests__/EventContent.test.tsx
  packages/components/src/components/domain/event/eventInfo/EventInfo.tsx
  packages/components/src/components/domain/event/eventInfo/utils/EventInfo.mocks.ts
  packages/components/src/components/domain/event/eventLocation/EventLocation.tsx
  packages/components/src/components/domain/event/eventLocation/EventLocationText.tsx
  packages/components/src/components/domain/event/eventLocation/__tests__/EventLocationText.test.tsx
  packages/components/src/components/eventCard/EventCard.tsx
  packages/components/src/components/eventCard/LargeEventCard.tsx
  packages/components/src/components/eventHero/EventHero.tsx
  packages/components/src/utils/eventUtils.ts
  packages/components/src/utils/headless-cms/__tests__/getFilteredBreadcrumbs.test.tsx
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: archive page title improvements
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: archive page title improvements (#692)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(test): fix packages/components tests, remove unnecessary type casts
  packages/components/src/components/domain/event/eventInfo/__tests__/EventInfo.test.tsx
  packages/components/src/components/domain/event/eventInfo/utils/EventInfo.mocks.ts
  packages/components/src/components/shareLinks/__tests__/FacebookShareLink.test.tsx
  packages/components/src/components/shareLinks/__tests__/LinkedInShareLink.test.tsx
  packages/components/src/components/shareLinks/__tests__/ShareLinks.test.tsx
  packages/components/src/components/shareLinks/__tests__/TwitterShareLink.test.tsx
  packages/components/src/types/types.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(test): fix running tests, fix packages/common-* lint errors
  .github/workflows/ci-packages.yml
  packages/common-i18n/src/tests/initI18n.ts
  packages/common-tests/browser-tests/header/header.testcafe.utils.ts
  packages/common-tests/browser-tests/page-model/closedEventDetailsPage.ts
  packages/common-tests/browser-tests/page-model/consent-modal.ts
  packages/common-tests/browser-tests/page-model/eventDetailsPage.ts
  packages/common-tests/browser-tests/page-model/eventSearchPage.ts
  packages/common-tests/browser-tests/page-model/header.ts
  packages/common-tests/browser-tests/page-model/index.ts
  packages/common-tests/browser-tests/page-model/landingPage.ts
  packages/common-tests/browser-tests/roles/allCookiesUser.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: upcoming event types
  apps/sports-helsinki/src/domain/venue/upcomingEvents/__tests__/upcomingEventsSection.test.tsx
  packages/components/src/components/domain/event/queryUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: upcoming event types (#697)
  apps/sports-helsinki/src/domain/venue/upcomingEvents/__tests__/upcomingEventsSection.test.tsx
  packages/components/src/components/domain/event/queryUtils.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: add new redirect for ulkokuntosaliohjaukset
  apps/sports-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: carousels heading h1 to h2
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: carousels heading h1 to h2 (#699)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: add campaign redirect support
  apps/hobbies-helsinki/next.config.js
  apps/hobbies-helsinki/redirectCampaignRoutes.config.js
  apps/hobbies-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: fix typos in short urls
  apps/hobbies-helsinki/next.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: add campaign redirect support (#703)
  apps/hobbies-helsinki/next.config.js
  apps/hobbies-helsinki/redirectCampaignRoutes.config.js
  apps/hobbies-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: delimited card prop
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: tokens package
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: no op change to trigger build
  azure-pipelines-harrastukset-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: no op change to trigger build
  Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: linked events dev testing
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: add call to corepack enable
  proxy.Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: remove packageManager version
  package.json
  proxy.Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: add DOCKER_TARGET env variable to dockerfiles
  docker-compose.events-graphql-proxy.yml
  docker-compose.events.yml
  docker-compose.hobbies.yml
  docker-compose.sports.yml
  docker-compose.venue-graphql-proxy.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

fix: remove packageManager configuration from package.json
  package.json
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: card styles
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: delimited card prop (#704)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: card link hover and let right position switch
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: card link hover and let right position switch (#710)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: linked events dev testing
  azure-pipelines-harrastukset-federation-router-review.yml
  azure-pipelines-harrastukset-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml
