Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-federation-router-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-test.yml@liikunta-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://liikunta.hkih.stage.geniem.io/graphql
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

azure-pipelines-tapahtumat-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-release.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://tapahtumat-router.api.hel.fi/
        CMS_ORIGIN: https://tapahtumat.content.api.hel.fi
  ...

azure-pipelines-tapahtumat-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-test.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-events.test.hel.ninja/
        CMS_ORIGIN: https://tapahtumat.hkih.stage.geniem.io
  ...

chore: update staging CMS addresses
  azure-pipelines-harrastukset-federation-router-review.yml
  azure-pipelines-harrastukset-federation-router-test.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-harrastukset-test.yml
  azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-federation-router-test.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-liikunta-test.yml
  azure-pipelines-tapahtumat-federation-router-review.yml
  azure-pipelines-tapahtumat-federation-router-test.yml
  azure-pipelines-tapahtumat-review.yml
  azure-pipelines-tapahtumat-test.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: link default bg color
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: link default bg color (#712)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: linked events dev testing
  Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: linked events dev testing
  Dockerfile
  azure-pipelines-harrastukset-federation-router-review.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: linked events dev testing
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-harrastukset-federation-router-review.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Update azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-federation-router-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Update azure-pipelines-liikunta-review.yml
  azure-pipelines-liikunta-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Dummy edit to start ci
  Dockerfile
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: image and image gallery module
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: version
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: refactoring
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

refactor: add new cms domain to env-example
  apps/events-helsinki/.env.local.example
  apps/hobbies-helsinki/.env.local.example
  apps/sports-helsinki/.env.local.example
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml

chore: add Vimma redirects
  apps/sports-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: add new Easysport redirects
  apps/sports-helsinki/redirectCampaignRoutes.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: do not use permanent redirects
  apps/events-helsinki/next.config.js
  apps/hobbies-helsinki/next.config.js
  apps/sports-helsinki/next.config.js
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: version hcrc
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: image and image gallery module (#715)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: hds 3.9 update and hamburger menu translations
  apps/events-helsinki/config/jest/TestProviders.tsx
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/config/jest/TestProviders.tsx
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/config/jest/TestProviders.tsx
  apps/sports-helsinki/package.json
  package.json
  packages/common-i18n/src/locales/en/common.json
  packages/common-i18n/src/locales/fi/common.json
  packages/common-i18n/src/locales/sv/common.json
  packages/components/config/tests/app-test-providers.tsx
  packages/components/package.json
  packages/components/src/hooks/useCommonCmsConfig.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: stable hcrc version
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: dedupe yarn lock
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: update to HDS 3.9 (#717)
  apps/events-helsinki/config/jest/TestProviders.tsx
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/config/jest/TestProviders.tsx
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/config/jest/TestProviders.tsx
  apps/sports-helsinki/package.json
  package.json
  packages/common-i18n/src/locales/en/common.json
  packages/common-i18n/src/locales/fi/common.json
  packages/common-i18n/src/locales/sv/common.json
  packages/components/config/tests/app-test-providers.tsx
  packages/components/package.json
  packages/components/src/hooks/useCommonCmsConfig.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: card content height
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: card content height (#718)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: cards and hero long text break
  packages/components/src/components/eventCard/largeEventCard.module.scss
  packages/components/src/components/eventHero/eventHero.module.scss
  packages/components/src/components/infoWithIcon/infoWithIcon.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: cards and hero long text break (#719)
  packages/components/src/components/eventCard/largeEventCard.module.scss
  packages/components/src/components/eventHero/eventHero.module.scss
  packages/components/src/components/infoWithIcon/infoWithIcon.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: use new CMS urls, also in RHHC, update subgraphs & supergraph
  README.md
  apps/events-helsinki/.env.test
  apps/events-helsinki/README.md
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/.env.test
  apps/hobbies-helsinki/README.md
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/.env.test
  apps/sports-helsinki/README.md
  apps/sports-helsinki/package.json
  package.json
  packages/components/package.json
  proxies/events-graphql-federation/README.md
  proxies/events-graphql-federation/subgraphs/cms/README.md
  proxies/events-graphql-federation/subgraphs/cms/cms.graphql
  proxies/events-graphql-federation/supergraph-config.yaml
  proxies/events-graphql-federation/supergraph.graphql
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: consistently use both "hyphens: auto" and "word-break: break-word"
  apps/sports-helsinki/src/domain/venue/venueCard/largeVenueCard.module.scss
  packages/components/src/components/eventCard/eventCard.module.scss
  packages/components/src/components/eventCard/largeEventCard.module.scss
  packages/components/src/components/eventHero/eventHero.module.scss
  packages/components/src/components/infoWithIcon/infoWithIcon.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(sports): add dynamic CMS configured redirect using middleware
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  apps/sports-helsinki/redirectCampaignRoutes.config.js
  apps/sports-helsinki/src/edge-runtime-compatible/README.md
  apps/sports-helsinki/src/edge-runtime-compatible/__tests__/isObject.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/__tests__/isStringOrNull.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/__tests__/isValidRedirectAddress.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/__tests__/parseRedirects.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/constants.ts
  apps/sports-helsinki/src/edge-runtime-compatible/isValidRedirectAddress.ts
  apps/sports-helsinki/src/edge-runtime-compatible/parseRedirects.ts
  apps/sports-helsinki/src/edge-runtime-compatible/queryRedirects.ts
  apps/sports-helsinki/src/edge-runtime-compatible/redirectsCache.ts
  apps/sports-helsinki/src/edge-runtime-compatible/stripLocale.ts
  apps/sports-helsinki/src/edge-runtime-compatible/typeguards.ts
  apps/sports-helsinki/src/edge-runtime-compatible/types.ts
  apps/sports-helsinki/src/middleware.ts
  packages/components/package.json
  packages/components/src/components/domain/event/queryUtils.ts
  packages/components/src/types/generated/graphql.tsx
  packages/components/src/types/types.ts
  packages/components/src/utils/headless-cms/service.tsx
  packages/graphql-proxy-server/package.json
  proxies/venue-graphql-proxy/src/schema/paginationSchema.ts
  proxies/venue-graphql-proxy/src/types/types.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: social media feed
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: version pump
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: refactoring
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  packages/components/src/hooks/useCommonCmsConfig.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: social media feed (#727)
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  packages/components/src/hooks/useCommonCmsConfig.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix: sanitizing social feed script
  apps/events-helsinki/package.json
  apps/hobbies-helsinki/package.json
  apps/sports-helsinki/package.json
  packages/components/package.json
  packages/components/src/hooks/useCommonCmsConfig.ts
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
