Repository City-of-Helsinki/events-helsinki-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

azure-pipelines-events-graphql-proxy-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-events-graphql-proxy-test.yml@graphql-proxy-pipelines
    parameters:
      buildArgs:
        GRAPHQL_PROXY_DEBUG: 1
        GRAPHQL_PROXY_API_BASE_URL: https://api.hel.fi/linkedevents/v1/
      configMap:
        GRAPHQL_PROXY_DEBUG: 1

azure-pipelines-harrastukset-federation-router-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-release.yml@harrastukset-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://harrastus.content.api.hel.fi/graphql
  ...

azure-pipelines-harrastukset-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-review.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        NEXT_PUBLIC_DEBUG: 1
        NEXTJS_DISABLE_SENTRY: '1'
        TESTI: testivalue
      runtimeEnvVars:
        NEXT_PUBLIC_DEBUG: 1
  ...

azure-pipelines-harrastukset-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-harrastukset-test.yml@harrastukset-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-hobbies.test.hel.ninja/
        CMS_ORIGIN: https://harrastus.hkih.stage.geniem.io
  ...

azure-pipelines-liikunta-federation-router-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-federation-router-test.yml@liikunta-pipelines
    parameters:
      configMap:
        FEDERATION_CMS_ROUTING_URL: https://liikunta.hkih.stage.geniem.io/graphql
  ...

azure-pipelines-liikunta-review.yml:
  pool: Default
  extends:
    template: azure-pipelines-liikunta-review.yml@liikunta-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-sports.test.hel.ninja/
        CMS_ORIGIN: https://liikunta.hkih.stage.geniem.io
  ...

azure-pipelines-tapahtumat-release.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-release.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://tapahtumat-router.api.hel.fi/
        CMS_ORIGIN: https://tapahtumat.content.api.hel.fi
  ...

azure-pipelines-tapahtumat-test.yml:
  pool: Default
  extends:
    template: azure-pipelines-tapahtumat-test.yml@tapahtumat-pipelines
    parameters:
      buildArgs:
        FEDERATION_ROUTER_ENDPOINT: https://events-graphql-federation-events.test.hel.ninja/
        CMS_ORIGIN: https://tapahtumat.hkih.stage.geniem.io
  ...

chore(deps): upgrade graphql-federation apollo router
  .gitignore
  docker-compose.router.yml
  proxies/events-graphql-federation/Dockerfile
  proxies/events-graphql-federation/router.yaml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat: add CSP rules to nextjs base configuration
  next.base.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(apollo-client): add variables to error link log entry
  packages/components/src/apollo/EventsFederationApolloClient.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: set disable sourcemaps disabled by default
  next.base.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

fix(apps): webmanifest and favicons
  apps/events-helsinki/public/manifest.webmanifest
  apps/hobbies-helsinki/public/manifest.webmanifest
  apps/sports-helsinki/public/manifest.webmanifest
  packages/components/src/hooks/useCommonCmsConfig.ts
  static/assets/images/favicon.ico
  static/assets/images/hds-favicon-kit/LICENCE.txt
  static/assets/images/hds-favicon-kit/README.md
  static/assets/images/hds-favicon-kit/apple-touch-icon.png
  static/assets/images/hds-favicon-kit/favicon-192x192.png
  static/assets/images/hds-favicon-kit/favicon-32x32.ico
  static/assets/images/hds-favicon-kit/favicon-512x512.png
  static/assets/images/hds-favicon-kit/favicon.svg
  static/assets/images/manifest.webmanifest
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(router): add cors rules to apollo federation router
  proxies/events-graphql-federation/router.yaml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

deps: set resolutions to fix issues reported by Dependabot
  package.json
  yarn.lock
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

refactor(events): use shared Edge-runtime middlewares
  apps/events-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

refactor(sports): split middleware to features
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/prefixDefaultLocale.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/__tests__/isObject.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/__tests__/isStringOrNull.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/__tests__/isValidRedirectAddress.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/__tests__/parseRedirects.test.tsx
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/index.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/isValidRedirectAddress.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/parseRedirects.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/queryRedirects.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/redirectsCache.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/stripLocale.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/typeguards.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/types.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/index.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/shortUrls/redirectHandler.ts
  apps/sports-helsinki/src/edge-runtime-compatible/middlewares/staticRequests.ts
  apps/sports-helsinki/src/edge-runtime-compatible/types.ts
  apps/sports-helsinki/src/edge-runtime-compatible/utils.ts
  apps/sports-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

refactor(sports): move edge-runtime middlewares to components package
  apps/sports-helsinki/src/middleware.ts
  packages/components/src/edge-runtime-compatible/README.md
  packages/components/src/edge-runtime-compatible/constants.ts
  packages/components/src/edge-runtime-compatible/middlewares/index.ts
  packages/components/src/edge-runtime-compatible/middlewares/prefixDefaultLocale.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/__tests__/isObject.test.tsx
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/__tests__/isStringOrNull.test.tsx
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/__tests__/isValidRedirectAddress.test.tsx
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/__tests__/parseRedirects.test.tsx
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/index.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/isValidRedirectAddress.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/parseRedirects.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/queryRedirects.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/redirectsCache.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/stripLocale.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/typeguards.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/dynamicUrls/types.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/index.ts
  packages/components/src/edge-runtime-compatible/middlewares/shortUrls/redirectHandler.ts
  packages/components/src/edge-runtime-compatible/middlewares/staticRequests.ts
  packages/components/src/edge-runtime-compatible/types.ts
  packages/components/src/edge-runtime-compatible/utils.ts
  packages/components/src/index.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(events): short URL redirects
  apps/events-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

refactor(hobbies): use shared Edge-runtime middlewares
  apps/hobbies-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(hobbies): short URL redirects
  apps/hobbies-helsinki/src/middleware.ts
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(apps): serve front page hero image with img-tag and photographer
  apps/events-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/events-helsinki/src/domain/search/landingPage/landingPage.module.scss
  apps/hobbies-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/hobbies-helsinki/src/domain/search/landingPage/landingPage.module.scss
  apps/sports-helsinki/src/domain/search/landingPage/LandingPage.tsx
  apps/sports-helsinki/src/domain/search/landingPage/landingPage.module.scss
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: restore ci checks PLATTA-6231 (#782)
  .github/workflows/ci-events-graphql-proxy-check.yml
  .github/workflows/ci-events-helsinki-check.yml
  .github/workflows/ci-hobbies-helsinki-check.yml
  .github/workflows/ci-monorepo-integrity.yml
  .github/workflows/ci-packages.yml
  .github/workflows/ci-sports-helsinki-check.yml
  .github/workflows/codesee-arch-diagram.yml
  apps/events-helsinki/sonar-project.properties
  apps/hobbies-helsinki/sonar-project.properties
  apps/sports-helsinki/.size-limit.cjs
  apps/sports-helsinki/sonar-project.properties
  proxies/events-graphql-proxy/sonar-project.properties
  proxies/venue-graphql-proxy/sonar-project.properties
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: temporaly refs to pipelines
  pipelines/events-graphql-proxy-dev.yml
  pipelines/events-graphql-proxy-review.yml
  pipelines/harrastukset-federation-router-dev.yml
  pipelines/harrastukset-federation-router-review.yml
  pipelines/harrastukset-ui-dev.yml
  pipelines/harrastukset-ui-review.yml
  pipelines/liikunta-federation-router-dev.yml
  pipelines/liikunta-federation-router-review.yml
  pipelines/liikunta-ui-dev.yml
  pipelines/liikunta-ui-review.yml
  pipelines/tapahtumat-federation-router-dev.yml
  pipelines/tapahtumat-federation-router-review.yml
  pipelines/tapahtumat-ui-dev.yml
  pipelines/tapahtumat-ui-review.yml
  pipelines/venue-graphql-proxy-dev.yml
  pipelines/venue-graphql-proxy-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: liikunta pipeline variables
  pipelines/liikunta-federation-router-dev.yml
  pipelines/liikunta-federation-router-release.yml
  pipelines/liikunta-federation-router-review.yml
  pipelines/liikunta-ui-dev.yml
  pipelines/liikunta-ui-release.yml
  pipelines/liikunta-ui-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: tapahtumat pipeline variables
  pipelines/tapahtumat-federation-router-dev.yml
  pipelines/tapahtumat-federation-router-release.yml
  pipelines/tapahtumat-federation-router-review.yml
  pipelines/tapahtumat-ui-dev.yml
  pipelines/tapahtumat-ui-release.yml
  pipelines/tapahtumat-ui-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: harrastukset pipeline variables
  pipelines/harrastukset-federation-router-dev.yml
  pipelines/harrastukset-federation-router-release.yml
  pipelines/harrastukset-federation-router-review.yml
  pipelines/harrastukset-ui-dev.yml
  pipelines/harrastukset-ui-release.yml
  pipelines/harrastukset-ui-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: remove obsolete pipelines
  azure-pipelines-events-graphql-proxy-release.yml
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-events-graphql-proxy-test.yml
  azure-pipelines-harrastukset-federation-router-release.yml
  azure-pipelines-harrastukset-federation-router-review.yml
  azure-pipelines-harrastukset-federation-router-test.yml
  azure-pipelines-harrastukset-release.yml
  azure-pipelines-harrastukset-review.yml
  azure-pipelines-harrastukset-test.yml
  azure-pipelines-liikunta-federation-router-release.yml
  azure-pipelines-liikunta-federation-router-review.yml
  azure-pipelines-liikunta-federation-router-test.yml
  azure-pipelines-liikunta-release.yml
  azure-pipelines-liikunta-review.yml
  azure-pipelines-liikunta-test.yml
  azure-pipelines-tapahtumat-federation-router-release.yml
  azure-pipelines-tapahtumat-federation-router-review.yml
  azure-pipelines-tapahtumat-federation-router-test.yml
  azure-pipelines-tapahtumat-release.yml
  azure-pipelines-tapahtumat-review.yml
  azure-pipelines-tapahtumat-test.yml
  azure-pipelines-venue-graphql-proxy-release.yml
  azure-pipelines-venue-graphql-proxy-review.yml
  azure-pipelines-venue-graphql-proxy-test.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-review.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-liikunta-federation-router-test.yml, azure-pipelines-liikunta-review.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: remove temporaly refs
  pipelines/events-graphql-proxy-dev.yml
  pipelines/events-graphql-proxy-review.yml
  pipelines/harrastukset-federation-router-dev.yml
  pipelines/harrastukset-federation-router-review.yml
  pipelines/harrastukset-ui-dev.yml
  pipelines/harrastukset-ui-review.yml
  pipelines/liikunta-federation-router-dev.yml
  pipelines/liikunta-federation-router-review.yml
  pipelines/liikunta-ui-dev.yml
  pipelines/liikunta-ui-review.yml
  pipelines/tapahtumat-federation-router-dev.yml
  pipelines/tapahtumat-federation-router-review.yml
  pipelines/tapahtumat-ui-dev.yml
  pipelines/tapahtumat-ui-review.yml
  pipelines/venue-graphql-proxy-dev.yml
  pipelines/venue-graphql-proxy-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: release pipeline trigger tag name fix
  pipelines/events-graphql-proxy-release.yml
  pipelines/harrastukset-federation-router-release.yml
  pipelines/harrastukset-ui-release.yml
  pipelines/liikunta-federation-router-release.yml
  pipelines/liikunta-ui-release.yml
  pipelines/tapahtumat-federation-router-release.yml
  pipelines/tapahtumat-ui-release.yml
  pipelines/venue-graphql-proxy-release.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: pipeline refactor (#786)
  azure-pipelines-events-graphql-proxy-review.yml
  azure-pipelines-events-graphql-proxy-test.yml
  azure-pipelines-harrastukset-federation-router-release.yml
  azure-pipelines-liikunta-test.yml
  azure-pipelines-venue-graphql-proxy-review.yml
  azure-pipelines-venue-graphql-proxy-test.yml
  pipelines/events-graphql-proxy-dev.yml
  pipelines/events-graphql-proxy-release.yml
  pipelines/events-graphql-proxy-review.yml
  pipelines/harrastukset-federation-router-dev.yml
  pipelines/harrastukset-federation-router-release.yml
  pipelines/harrastukset-federation-router-review.yml
  pipelines/harrastukset-ui-dev.yml
  pipelines/harrastukset-ui-release.yml
  pipelines/harrastukset-ui-review.yml
  pipelines/liikunta-federation-router-dev.yml
  pipelines/liikunta-federation-router-release.yml
  pipelines/liikunta-federation-router-review.yml
  pipelines/liikunta-ui-dev.yml
  pipelines/liikunta-ui-release.yml
  pipelines/liikunta-ui-review.yml
  pipelines/tapahtumat-federation-router-dev.yml
  pipelines/tapahtumat-federation-router-release.yml
  pipelines/tapahtumat-federation-router-review.yml
  pipelines/tapahtumat-ui-dev.yml
  pipelines/tapahtumat-ui-release.yml
  pipelines/tapahtumat-ui-review.yml
  pipelines/venue-graphql-proxy-dev.yml
  pipelines/venue-graphql-proxy-release.yml
  pipelines/venue-graphql-proxy-review.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

feat(events): add /kasvunidea → /fi/articles/yleinen/kasvunidea redirect
  apps/events-helsinki/redirectCampaignRoutes.config.mjs
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

build: ci workflow working parameter
  .github/workflows/ci-events-graphql-proxy-check.yml
  .github/workflows/ci-events-helsinki-check.yml
  .github/workflows/ci-hobbies-helsinki-check.yml
  .github/workflows/ci-sports-helsinki-check.yml
  .github/workflows/ci-venue-graphql-proxy-check.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

chore: temporaly ci workflow branch
  .github/workflows/ci-events-graphql-proxy-check.yml
  .github/workflows/ci-events-helsinki-check.yml
  .github/workflows/ci-hobbies-helsinki-check.yml
  .github/workflows/ci-sports-helsinki-check.yml
  .github/workflows/ci-venue-graphql-proxy-check.yml
Due: azure-pipelines-events-graphql-proxy-test.yml, azure-pipelines-harrastukset-federation-router-release.yml, azure-pipelines-harrastukset-test.yml, azure-pipelines-tapahtumat-release.yml, azure-pipelines-tapahtumat-test.yml

Path conditions:
  azure-pipelines-events-graphql-proxy-test.yml: any file but: README.md
  azure-pipelines-harrastukset-federation-router-release.yml: any file but: README.md
  azure-pipelines-harrastukset-review.yml: any of: apps/hobbies-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-harrastukset-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-harrastukset-test.yml: any file but: README.md
  azure-pipelines-liikunta-federation-router-test.yml: any of: proxies/events-graphql-federation, azure-pipelines-liikunta-federation-router-test.yml, !**/README.md, !**/CHANGELOG.md, !**/LICENSE, !**/.env*, !**/docker-compose*
  azure-pipelines-liikunta-review.yml: any of: apps/sports-helsinki, packages, package.json, yarn.lock, .yarnrc.yml, *.base.json, *.base.js, .prettier*.*, azure-pipelines-liikunta-review.yml, Dockerfile, *.Dockerfile, docker-compose.yml, docker-compose.*.yml, !**/README.md
  azure-pipelines-tapahtumat-release.yml: any file but: README.md
  azure-pipelines-tapahtumat-test.yml: any file but: **/README.md, **/CHANGELOG.md, **/LICENSE, **/.env*, **/docker-compose*
